<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white ;font-size: 20px;"> Proccessing... </p>
</ngx-spinner>
<section class="inner-page-wrapper inner-page-wrapper-units">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3 mt-3">
                    <div class="card-body">
                        <div class="col-md-6 col-12">
                        
                            <div class="form-group position-relative">

                               {{codeSerial}}
                               

                            </div>
                        </div>
                        <form [formGroup]="journalEntryForm" id="journalEntrySubmit" class="tabs-form">
                            <div class="main-branch ranoo">
                                <div class="wrapper-title">

                                    <h3>{{'component-names.journalEntry-information'|translate}}</h3>
                                    <hr>
                                    <div class="row ">
                                        <div class="col-md-4 col-4">
                                            <label for="bankAccountId" class="label-name">
                                                {{'component-names.journal'|translate}}

                                            </label>
                                            <div class="input-group  popup">
                                                <ng-select style="width:100%" formControlName="bankAccountId" (change)="onChangeJournal($event)"
                                                    name='bankAccountId' class="" id="bankAccountId">
                                                    <ng-option *ngFor="let journal of journalList" [value]="journal.id">
                                                        {{lang=="ar"?journal.nameAr:journal.nameEn}}
                                                    </ng-option>
                                                </ng-select>

                                            </div>

                                        </div>


                                        <div class="col-md-4 col-4">
                                            <label for="receiptAccountId" class="label-name">
                                                {{'component-names.fiscalPeriod'|translate}}

                                            </label>
                                            <div class="input-group  popup">
                                                <ng-select style="width:100%" formControlName="receiptAccountId"
                                                (change)="onChangefiscalPeriod($event)"
                                                    name='receiptAccountId' class="" id="receiptAccountId">
                                                    <ng-option *ngFor="let fiscalPeriod of fiscalPeriodList"
                                                        [value]="fiscalPeriod.id">
                                                        {{lang=="ar"?fiscalPeriod.nameAr:fiscalPeriod.nameEn}}
                                                    </ng-option>
                                                </ng-select>

                                            </div>

                                        </div>
                                        <div class="col-4 col-md-4">
                                            <label for="code" class="label-name">
                                                {{'general.code'|translate}}</label><span class="text-danger">*</span>
                                            <div class="form-group position-relative">
                                                <!-- [ngClass]="{'is-invalid':f['code'].errors || f['code'].invalid}" -->
                                                <input type="text" class="form-control icon-branch" name="code"
                                                    formControlName="code">
                                                <div *ngIf="(f['code'].touched || f['code'].dirty ) && f['code'].invalid"
                                                    class="validation alert-danger position-absolute">
                                                    <i class="fa fa-close "></i>
                                                    <span *ngIf="f['code'].errors && f['code'].errors['required']"
                                                        class="f-12 ng-star-inserted text-white">
                                                        {{'error.required'|translate}} </span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <label for="date" class="label-name">
                                                {{'general.date'|translate}}</label><span class="text-danger">*</span>
                                            <div class="form-group position-relative">

                                                <input type="date" class="form-control " name="date"
                                                    formControlName="date">
                                                <div *ngIf="(f['date'].touched || f['date'].dirty ) && f['date'].invalid"
                                                    class="validation alert-danger position-absolute">
                                                    <i class="fa fa-close "></i>
                                                    <span *ngIf="f['date'].errors && f['date'].errors['required']"
                                                        class="f-12 ng-star-inserted text-white">
                                                        {{'error.required'|translate}}</span>
                                                </div>

                                            </div>
                                        </div>
                                      
                                        <div class="col-12 col-md-6">
                                            <label for="notes" class="label-name">{{'general.notes'|translate}}</label>
                                            <div class="form-group position-relative">

                                                <input type="text" class="form-control icon-branch" name="notes"
                                                    formControlName="notes">

                                            </div>
                                        </div>

                                        <div class="col-12 col-md-6">
                                            <div class="media">
                                                <label class="col-form-label m-r-10">
                                                    {{'journalEntry.openBalance'|translate}} </label>
                                                <div class="icon-state media-body mx-5">
                                                    <label class="switch">
                                                        <input type="checkbox" class="form-control" name="openBalance"
                                                            formControlName="openBalance">
                                                        <span class="switch-state"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="mt-3 mb-3 p-0">
                                        <div class="col-12 col-md-6">
                                            <div class="media">
                                                <label class="col-form-label m-r-10"> {{'general.status'|translate}}
                                                </label>
                                                <div class="icon-state media-body mx-5">
                                                    <label class="switch">
                                                        <input type="checkbox" class="form-control" name="isActive"
                                                            formControlName="isActive">
                                                        <span class="switch-state"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                     

                                    </div>

                                </div>

                                <div formArrayName="journalEntriesDetail" style="width: 100% ; overflow-x: scroll;">
                                    <div style="width: 1500px;">
                                        <table class="table table-sm m-b-0 table-broder ">
                                            <thead class="thead-light">
                                                <tr>
                                                    <!-- <th># </th> -->
                                                    <th style="width: 15%;">رقم الحساب</th>
                                                    <th style="width: 10%;">مدين</th>
                                                    <th style="width: 10%;">دائن</th>
                                                    <th style="width: 15%;">العملة</th>
                                                    <th style="width: 10%;">التعادل</th>
                                                    <th style="width: 10%;">مدين محلي</th>
                                                    <th style="width: 10%;">دائن محلي</th>
                                                    <th style="width: 15%;">مركز التكلفة</th>
                                                    <th style="width: 15%;">الوصف</th>
                                                    <th style="width: 1%;">الاجراءات</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let row of journalEntryForm.get('journalEntriesDetail')['controls']; let i = index"
                                                    [formGroupName]="i">
                                                    <!-- <td> -->
                                                        <!-- {{ i+1 }} -->
                                                        <!-- <input type="text"
                                                            style="border: none; border-color: transparent;" hidden
                                                            formControlName="jEDetailSerial" name="jEDetailSerial"> -->
                                                    <!-- </td> -->
                                                    <td>
                                                        <div class="form-group row">
                                                            <div class="col-sm-12">
                                                                <div class="input-group form-group">
                                                                    <div class="input-group form-group">

                                                                        <select required class="form-control required"
                                                                            name="accountId"
                                                                            formControlName="accountId">

                                                                            <option dir="ltr"
                                                                                *ngFor="let account of accountList"
                                                                                [value]="account.id">
                                                                                {{lang=="ar"?account.nameAr:account.nameEn}}
                                                                            </option>

                                                                        </select>

                                                                        <!-- <div class="input-group-prepend">
                                                                            <button (click)="ClickAccount(i)"
                                                                                class="btn btn-rounded btn-dark"
                                                                                type="button"><i
                                                                                    class="fa fa-search"></i></button>
                                                                        </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>

                                                    <td>
                                                        <div class="form-group row">
                                                            <div class="col-sm-12">
                                                                <div class="input-group form-group">
                                                                    <input type="number" required
                                                                        class="form-control required"
                                                                        (keypress)="numberOnly($event,i,'Credit')"
                                                                        (input)="onInput($event.target.value,i,'Credit')"
                                                                        formControlName="jEDetailCredit"
                                                                        name="jEDetailCredit" style="width: 70px;">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="form-group row">
                                                            <div class="col-sm-12">
                                                                <div class="input-group form-group">
                                                                    <input type="number" required
                                                                        class="form-control required"
                                                                        (keypress)="numberOnly($event,i,'Debit')"
                                                                        (input)="onInput($event.target.value,i,'Debit')"
                                                                        formControlName="jEDetailDebit"
                                                                        name="jEDetailDebit" style="width: 70px;">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="form-group row">
                                                            <div class="col-sm-12">
                                                                <div class="input-group form-group">
                                                                    <div class="input-group form-group">

                                                                        <select class="form-control" name="currencyId" (change)="onChangeCurrency($event,i)"
                                                                            formControlName="currencyId"
                                                                            [ngClass]="{ 'required': (row.get('currencyId')?.errors?.required)}">


                                                                            <option
                                                                                *ngFor="let currency of currencyList"
                                                                                [value]="currency.id">
                                                                                {{lang=="ar"?currency.nameAr:currency.nameEn}}
                                                                            </option>
                                                                        </select>
<!-- 
                                                                        <div class="input-group-prepend">
                                                                            <button (click)="ClickCostCenter(i)"
                                                                                class="btn btn-rounded btn-dark"
                                                                                type="button"><i
                                                                                    class="fa fa-search"></i></button>
                                                                        </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="form-group row">
                                                            <div class="col-sm-12">
                                                                <div class="input-group form-group">
                                                                    <input type="number" required   disabled="disabled"
                                                                        class="form-control required"
                                                                        formControlName="transactionFactor"
                                                                        name="transactionFactor" style="width: 70px;">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="form-group row">
                                                            <div class="col-sm-12">
                                                                <div class="input-group form-group">
                                                                    <input type="number" required
                                                                        class="form-control required"   disabled="disabled"
                                                                     
                                                                        formControlName="jEDetailCreditLocal"
                                                                        name="jEDetailCreditLocal" style="width: 70px;">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="form-group row">
                                                            <div class="col-sm-12">
                                                                <div class="input-group form-group">
                                                                    <input type="number" required
                                                                        class="form-control required"
                                                                        disabled="disabled"
                                                                        formControlName="jEDetailDebitLocal"
                                                                        name="jEDetailDebitLocal" style="width: 70px;">
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </td>
                                                    <td>
                                                        <div class="form-group row">
                                                            <div class="col-sm-12">
                                                                <div class="input-group form-group">
                                                                    <div class="input-group form-group">

                                                                        <select class="form-control" name="costCenterId"
                                                                            formControlName="costCenterId"
                                                                            [ngClass]="{ 'required': (row.get('costCenterId')?.errors?.required)}">

                                                                            <option dir="ltr"
                                                                                *ngFor="let costCenter of costCenterList"
                                                                                [value]="costCenter.id">
                                                                                {{costCenter.nameAr}}</option>

                                                                        </select>

                                                                        <!-- <div class="input-group-prepend">
                                                                            <button (click)="ClickCostCenter(i)"
                                                                                class="btn btn-rounded btn-dark"
                                                                                type="button"><i
                                                                                    class="fa fa-search"></i></button>
                                                                        </div> -->
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>

                                                        <textarea style="width: 100%;" formControlName="notes"
                                                            name='notes'></textarea>

                                                    </td>


                                                    <td>
                                                        <button type="button"
                                                            class="btn btn-square btn-danger btn-sm waves-effect waves-light"
                                                            (click)="onDeleteRow(i)"> <i
                                                                class="icofont icofont-ui-delete"></i> حذف</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>



                                </div>
                            </div>
                            <br>

                            <button type="button" (click)="initGroup()" class="btn btn-rounded btn-success">اضافة صف
                                جديد</button>
                        </form>
                      
                         
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="col-md-2">
    <div class="form-group">
      <label class="control-label m-t-20"> اجمالي المدين </label>
      <div class="input-group mb-12">

        <label>{{totalCredit}}</label>


      </div>
    </div>
    <div class="form-group">
        <label class="control-label m-t-20"> اجمالي الدائن </label>
        <div class="input-group mb-12">
  
          <label for="totalDebitValue">{{totalDebit}}</label>
        </div>
      </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label class="control-label m-t-20"> اجمالي المدين محلي</label>
      <div class="input-group mb-12">

        <label>{{totalCreditLocal}}</label>


      </div>
    </div>
    <div class="form-group">
        <label class="control-label m-t-20">  اجمالي الدائن محلي</label>
        <div class="input-group mb-12">
  
          <label for="totalDebitValue">{{totalDebitLocal}}</label>
        </div>
      </div>
  </div>

  