<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
	<p style="color: white ;font-size: 20px;"> {{'general.loading'|translate}}... </p>
</ngx-spinner>
<section class="inner-page-wrapper inner-page-wrapper-taxes">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<form [formGroup]="taxForm" id="taxSubmit" class="tabs-form">
							<div class="main-branch ranoo">
								<div class="wrapper-title">
									<h3>{{'tax.tax-information'|translate}}</h3>
									<hr>
									<div class="row ">
										<div class="col-md-6 col-12 offset-6">
											<label for="code" class="label-name">
												{{'general.code'|translate}}
											</label>
											<span class="text-danger">*</span>
											<div class="form-group position-relative">

												<input type="text" class="form-control icon-branch"
													[ngClass]="{'is-invalid':f['code'].errors || f['code'].invalid}"
													name="code" formControlName="code">
												<div *ngIf="(f['code'].touched || f['code'].dirty ) && f['code'].invalid"
													class="validation alert-danger position-absolute">
													<i class="fa fa-close "></i>
													<span *ngIf="f['code'].errors && f['code'].errors['required']"
														class="f-12 ng-star-inserted text-white">
														{{'error.required'|translate}}</span>
												</div>

											</div>
										</div>
										<div class="col-md-6 col-12">
											<label for="nameAr" class="label-name">
												{{'general.nameAr'|translate}}</label><span class="text-danger">*</span>
											<div class="form-group position-relative">

												<input type="text" class="form-control "
													[ngClass]="{'is-invalid':f['nameAr'].errors || f['nameAr'].invalid}"
													name="nameAr" formControlName="nameAr">
												<div *ngIf="(f['nameAr'].touched || f['nameAr'].dirty ) && f['nameAr'].invalid"
													class="validation alert-danger position-absolute">
													<i class="fa fa-close "></i>
													<span *ngIf="f['nameAr'].errors && f['nameAr'].errors['required']"
														class="f-12 ng-star-inserted text-white">
														{{'error.required'|translate}}</span>
												</div>

											</div>
										</div>
										<div class="col-md-6 col-12">
											<label for="nameEn" class="label-name">
												{{'general.nameEn'|translate}}</label>
											<div class="form-group position-relative">

												<input type="text" class="form-control " name="nameEn"
													formControlName="nameEn">


											</div>
										</div>

                                        <div class="col-md-6 col-12 ">
											<label for="accountId" class="label-name">
												{{'general.account'|translate}}
											</label>
											<span class="text-danger">*</span>
                                            <div class="input-group form-group">
												<ng-select style="width:100%" formControlName="accountId"
													name='accountId' class="" id="accountId" [(ngModel)]="accountId">
													<ng-option *ngFor="let account of accountsList"
														[value]="account.id">
														{{lang=="ar"?account.nameAr:account.nameEn}}
													</ng-option>
												</ng-select>
												<div *ngIf="(f['accountId'].touched || f['accountId'].dirty ) && f['accountId'].invalid"
													class="validation alert-danger position-absolute">
													<i class="fa fa-close "></i>
													<span
														*ngIf="f['accountId'].errors && f['accountId'].errors['required']"
														class="f-12 ng-star-inserted text-white">
														{{'error.required'|translate}}</span>
												</div>
												<div class="">
                                                    <button class="btn btn-rounded btn-dark"
                                                        (click)="showSearchAccountModal=true" type="button"><i
                                                            class="fa fa-search"></i></button>
                                                </div>

											</div>

										</div>
									
										<div class="col-md-6 col-12 d-flex align-items-end">
											<div class="media">
												<label class="label-name"> {{'general.status'|translate}}
												</label>
												<div class="icon-state media-body">
													<label class="switch">
														<input type="checkbox" class="form-control" name="isActive"
															formControlName="isActive">
														<span class="switch-state"></span>
													</label>
												</div>
											</div>
										</div>


									</div>
									<hr>
									<div class="row">
										<div class="col gap-12 grid grid-cols-12 ">
											<ul ngbNav #nav="ngbNav" class="nav-tabs">
												<li ngbNavItem [destroyOnHide]="false">
													<a ngbNavLink> {{'general.details' |translate}}</a>
													<ng-template ngbNavContent>
														<table class="table table-broder"
															style="overflow-y: scroll !important;">
															<thead>
																<th>#</th>
																<th>
																	{{'general.fromDate'|translate}}
																</th>
																<th>
																	{{'general.toDate'|translate}}
																</th>
																<th>
																	{{'tax.tax-ratio'|translate}}
																</th>

																<th></th>
															</thead>
															<tr *ngFor="let item of taxDetail; let i= index;">
																<td> {{i+1}}</td>
																<td>
																	{{taxDetail[i].fromDate}}

																	<!-- <app-full-date
                                                                        [(ngModel)]="taxDetail[i].fromDate"
                                                                        ngDefaultControl
                                                                        [selectedDate]="taxDetail[i].fromDate"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        (OnDateSelect)="getFromDate($event,i)"></app-full-date> -->


																</td>
																<td>
																	{{taxDetail[i].toDate}}

																	<!-- <app-full-date
                                                                        [(ngModel)]="taxDetail[i].toDate"
                                                                        ngDefaultControl
                                                                        [selectedDate]="taxDetail[i].toDate"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        (OnDateSelect)="getToDate($event,i)"></app-full-date> -->


																</td>
																<td>
																	<input type="number"
																		[(ngModel)]="taxDetail[i].taxRatio"
																		[ngModelOptions]="{standalone: true}" min="0"
																		class="border-0 m-0 w-100">
																</td>



																<td>
																	<input type="button"
																		class="btn btn-danger btn-table"
																		value="{{'buttons.delete'|translate}}"
																		(click)="deleteItem(i)">
																</td>
															</tr>

															<tr>
																<td class="p-0 m-0">{{taxDetail.length + 1}}</td>
																<td>
																	<app-full-date
																		[(ngModel)]="selectedTaxDetail.fromDate"
																		ngDefaultControl
																		[selectedDate]="selectedTaxDetail.fromDate"
																		[ngModelOptions]="{standalone: true}"
																		(OnDateSelect)="getSelectedFromDate($event)"
																		class="p-0 m-0"></app-full-date>


																</td>
																<td>
																	<app-full-date
																		[(ngModel)]="selectedTaxDetail.toDate"
																		ngDefaultControl
																		[selectedDate]="selectedTaxDetail.toDate"
																		[ngModelOptions]="{standalone: true}"
																		(OnDateSelect)="getSelectedToDate($event)"
																		class="p-0 m-0"></app-full-date>


																</td>
																<td>
																	<input type="number"
																		[(ngModel)]="selectedTaxDetail.taxRatio"
																		[ngModelOptions]="{standalone: true}" min="0"
																		class="border-0 m-0 w-100">
																</td>

																<td>

																	<input type="button"
																		class="btn btn-primary btn-table "
																		(click)="addItem()"
																		value="{{'buttons.add'|translate}}">

																</td>
															</tr>
														</table>

													</ng-template>
												</li>


											</ul>
											<div [ngbNavOutlet]="nav" class=""></div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<app-public-search-modal [isVisible]="showSearchAccountModal" [routeApi]="routeAccountApi"
	(emitClose)="showSearchAccountModal = false;" (emitSearch)="onSelectAccount($event)">
</app-public-search-modal>
