<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
	<p style="color: white ;font-size: 20px;"> {{'general.loading'|translate}}... </p>
</ngx-spinner>
<section class="inner-page-wrapper inner-page-wrapper-units">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<form [formGroup]="determinantsForm" id="determinantsSubmit" class="tabs-form">
						<div class="">
							<div class="wrapper-title">

								<h3>{{'component-names.determinants'|translate}}</h3>
								<hr>
								<div class="align-items-end row">

									<div class="col-md-6 col-12 offset-6">
										<label for="code" class="label-name">
											{{'general.code'|translate}}</label><span class="text-danger">*</span>
										<div class="form-group position-relative">
											<input type="text" class="form-control" name="code" formControlName="code">


										</div>
									</div>
									<div class="col-md-6 col-12">
										<label for="nameAr" class="label-name">
											{{'general.nameAr'|translate}}</label><span class="text-danger">*</span>
										<div class="form-group position-relative">

											<input type="text" class="form-control " name="nameAr"
												formControlName="nameAr" maxlength="50">


										</div>
									</div>

									<div class="col-md-6 col-12">
										<label for="nameEn" class="label-name">
											{{'general.nameEn'|translate}}</label>
										<div class="form-group position-relative">

											<input type="text" class="form-control " name="nameEn"
												formControlName="nameEn">



										</div>
									</div>




									<div class="col-md-6 col-12">
										<label for="" class="label-name">
											{{'determinants.type-value'|translate}}
										</label>
										<span class="text-danger">*</span>

										<div class="input-group  popup">
											<label for="0" class="label-name">
												{{'general.entries-status'|translate}}</label>
											<ng-select class="custom" formControlName="valueType"
												[items]="determinantsValueTypes" bindLabel="name" bindValue="id"
												style="width:100%"></ng-select>
										</div>
									</div>
									<div class="col-md-6 col-12">
										<div class="media">
											<label class="label-name"> {{'general.status'|translate}}
											</label>
											<div class="icon-state media-body">
												<label class="switch">
													<input type="checkbox" class="form-control" name="status"
														formControlName="status">
													<span class="switch-state"></span>
												</label>
											</div>
										</div>
									</div>
									<!-- <div class="col-12 mt-4" *ngIf="selectValueType === 'Select of list'">
										<table class="table table-sm m-b-0 table-broder"
											style="overflow-y: scroll !important;">
											<thead>
												<th>#</th>
												<th>Arabic name</th>
												<th>English name</th>
											</thead>

											<tbody>
												<tr>
													<td>1</td>
													<td>المقاس</td>
													<td>size</td>


												</tr>

											</tbody>
										</table>
									</div> -->

									<div class="row" *ngIf="determinantsForm.value.valueType==1" >
										<div class="col gap-12 grid grid-cols-12 ">
											<ul ngbNav #nav="ngbNav" class="nav-tabs">
												<li ngbNavItem [destroyOnHide]="false">
													<a ngbNavLink> {{'general.details' |translate}}</a>
													<ng-template ngbNavContent>
													 	<table class="table table-broder"
															style="overflow-y: scroll !important;">
															<thead>
																<th>#</th>
															
																<th>
																	{{'general.nameAr'|translate}}
																</th>
																<th>
																	{{'general.nameEn'|translate}}
																</th>

																<th></th>
															</thead>
															<tr *ngFor="let item of determinantsDetail; let i= index;">
																<td> {{i+1}}</td>
											
																<td>
																	<input type="text"
																		[(ngModel)]="determinantsDetail[i].nameAr"
																		[ngModelOptions]="{standalone: true}" min="0"
																		class="border-0 m-0 w-100">
																</td>
																<td>
																	<input type="text"
																		[(ngModel)]="determinantsDetail[i].nameEn"
																		[ngModelOptions]="{standalone: true}" min="0"
																		class="border-0 m-0 w-100">
																</td>



																<td>
																	<input type="button"
																		class="btn btn-danger btn-table"
																		value="{{'buttons.delete'|translate}}"
																		(click)="deleteItem(i)">
																</td>
															</tr>

															<tr>
																<td class="p-0 m-0">{{determinantsDetail?.length + 1}}</td>
															
																<td>
																	<input type="text"
																	[(ngModel)]="selectedDeterminantsDetail.nameAr"
																	[ngModelOptions]="{standalone: true}" min="0"
																	class="border-0 m-0 w-100">


																</td>
																<td>
																	<input type="text"
																		[(ngModel)]="selectedDeterminantsDetail.nameEn"
																		[ngModelOptions]="{standalone: true}" min="0"
																		class="border-0 m-0 w-100">
																</td>

																<td>

																	<input type="button"
																		class="btn btn-primary btn-table "
																		(click)="addItem()"
																		value="{{'buttons.add'|translate}}">

																</td>
															</tr>
														</table>

													</ng-template>
												</li>


											</ul>
											<div [ngbNavOutlet]="nav" class=""></div>
										</div>
									</div>




								</div>

							</div>
						</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>