<section class="inner-page-wrapper inner-page-wrapper-units">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<form id="" class="tabs-form">
							<div class="main-customer">
								<div class="wrapper-title">

									<h3>shifts</h3>
									<hr>
									<div class="row align-items-center">

										<div class="col-md-6 col-12 offset-6">
											<label for="code" class="label-name">
												code</label><span class="text-danger">*</span>
											<div class="form-group position-relative">

												<input type="text" class="form-control icon-user" name="code"
													formControlName="code">


											</div>
										</div>
										<div class="col-md-6 col-12">
											<label for="nameAr" class="label-name">
												nameAr</label><span class="text-danger">*</span>
											<div class="form-group position-relative">

												<input type="text" class="form-control icon-user" name="nameAr"
													formControlName="nameAr">


											</div>
										</div>
										<div class="col-md-6 col-12">
											<label for="nameEn" class="label-name">
												nameEn</label><span class="text-danger">*</span>
											<div class="form-group position-relative">

												<input type="text" class="form-control icon-user" name="nameEn"
													formControlName="nameEn">


											</div>
										</div>
										<div class="col-md-6 col-12">
											<div class="media">
												<label class="label-name"> status
												</label>
												<div class="icon-state media-body ">
													<label class="switch">
														<input type="checkbox" class="form-control" name="isActive"
															formControlName="isActive">
														<span class="switch-state"></span>
													</label>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>