<div class="modal-header">
	<h4 class="modal-title text-capitalize">{{'general.choose-template'|translate}}</h4>
	<button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">

	<hr>
	<table class="table table-broder">
		<thead>
			<th>{{'general.template-name'|translate}}</th>
			<th colspan="4">{{'general.actions'|translate}}</th>
		</thead>
		<tbody>
			<tr *ngFor="let item of reportList">
				<td>{{item.fileName}}</td>
				<td>
					<button class="btn btn-primary btn-table"
						(click)="viewRpt(item)">{{'buttons.show'|translate}}</button>
				</td>

				<td>
					<button class="btn btn-secondary btn-table"
						(click)="setAsDefaultRpt(item)">{{'buttons.default'|translate}}</button>
				</td>
				<td>
					<button class="btn btn-primary btn-table" (click)="designRpt(item)"
						hidden>{{'buttons.design'|translate}}</button>
				</td>
				<td *ngIf="item.isBasic!=true">
					<button class="btn btn-danger btn-table"
						(click)="deleteRpt(item)">{{'buttons.delete'|translate}}</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-secondary" (click)="close()">{{'buttons.close'|translate}}</button>
</div>