<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0">

            <div class=" card mt-3">

                <div class="card-body">
                    <form ngNativeValidate>
                        <div class="row">
                            <div class="col-md-4 col-12 ">
                                <label for=""> Code </label><span class="text-danger">*</span>
                                <div class="form-group position-relative">
                                    <input class="form-control" id="" type="text" placeholder="" required>
                                </div>
                            </div>


                            <div class="col-md-4 col-12  ">
                                <label for="">Name Arabic</label><span class="text-danger">*</span>
                                <div class="form-group position-relative">
                                    <input class="form-control " id="" type="text" placeholder="" required>
                                </div>
                            </div>

                            <div class="col-md-4 col-12  ">
                                <label for="">Name English</label><span class="text-danger">*</span>
                                <div class="form-group position-relative">
                                    <input class="form-control " id="" type="text" placeholder="" required>
                                </div>
                            </div>

                            <div class="col-md-4 col-12  ">
                                <label for=" ">Email</label><span class="text-danger">*</span>
                                <div class="form-group position-relative">
                                    <input class="form-control " id="" type="email" placeholder="" required>
                                </div>
                            </div>
                            <div class="col-md-4 col-12  ">
                                <label for="">Phone Number</label>
                                <input class="form-control " id="" type="tel" placeholder="">
                            </div>
                            <div class="col-md-4 col-12  ">
                                <label for="">Address</label>
                                <input class="form-control " id="" type="text" placeholder="">
                            </div>
                            <div class="col-md-4 col-12  ">
                                <label for="">Websit</label>
                                <input class="form-control " id="" type="text" placeholder="">
                            </div>
                            <div class="col-md-4 col-12  ">
                                <label for="">Commercial Record</label>
                                <input class="form-control " id="" type="text" placeholder="">
                            </div>

                            <div class="col-md-4 col-12  ">

                                <div class="form-group">
                                    <label for="country">Country</label>
                                    <select class="form-control digits form-select" id="country">
										<option></option>
										<option>Country2</option>
										<option>Country3</option>
										<option>Country4</option>
										<option>Country5</option>
									</select>
                                </div>

                            </div>

                            <div class="col-md-4 col-12  ">

                                <div class="form-group">
                                    <label for="currency">Currency</label>
                                    <select class="form-control digits form-select" id="currency">
										<option></option>
										<option>currency2</option>
										<option>currency3</option>
										<option>currency4</option>
										<option>currency5</option>
									</select>
                                </div>
                            </div>
                            <div class="col-md-4 col-12 ">

                                <div class="form-group">
                                    <label for="CompanySize">business</label>
                                    <select class="form-control digits form-select" id="business">
										<option></option>
										<option>business1</option>
										<option>business2</option>
										<option>business3</option>
										<option>business4</option>

									</select>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label for="" class="label-name">Logo campany</label>
                                    <input class="form-control " id="" type="file">
                                </div>
                            </div>

                            <div class="col-md-4 col-12">
                                <div class="media">
                                    <label class="label-name">Status</label>
                                    <div class="media-body text-end icon-state">
                                        <label class="switch">
											<input type="checkbox" checked=""><span class="switch-state"></span>
										</label>
                                    </div>
                                </div>
                            </div>



                        </div>






                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
