<div class="table-wrapper">
    <table class="custom-table">
        <thead>
                
            <tr>
                <td colspan="2">
                    <button (click)="insertBillDynamic()"
                        style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;"> {{'buttons.save'|translate}}</button>
                </td>
                <button  (click)="onClose()"
                style="background-color: #af774c; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; margin-top: 10px;"
                >
                    X
                  </button>
            </tr>
            <tr>
                <th style="width: 10px;">#</th>
                <th *ngFor="let key of insertBillDynamicDeterminant.itemCardDeterminantListDto">
                   
                    {{lang=="ar"?key.determinantsMaster.nameAr:key.determinantsMaster.nameEn}}
                </th>
                <th style="width: 10px;"></th>
            </tr>
        </thead>
        <tbody>
           
            <tr *ngFor="let item of insertBillDynamicDeterminant.dynamicDeterminantListDto; let i = index">
                <td style="width: 10px;">{{ i + 1 }}</td>
                <td *ngFor="let key of insertBillDynamicDeterminant.itemCardDeterminantListDto">
                    <ng-container [ngSwitch]="key.determinantsMaster.valueType">
                        <ng-container *ngSwitchCase="1">
                            <select [(ngModel)]="item.selectedValue" class="custom-input">
                                <option *ngFor="let determinantDetail of key.determinantsMaster.determinantsDetails"
                                    [value]="determinantDetail.id">
                                 
                                    {{lang=="ar"?determinantDetail.nameAr:determinantDetail.nameEn}}
                                </option>
                            </select>
                        </ng-container>

                        <ng-container *ngSwitchCase="2">
                            <input type="number" [(ngModel)]="item.numberValue" class="custom-input" />
                        </ng-container>
                        <ng-container *ngSwitchCase="3">
                            <input type="text" [(ngModel)]="item.textValue" class="custom-input" />
                        </ng-container>
                        <ng-container *ngSwitchCase="4">
                            <!-- <input type="date" [(ngModel)]="item.value" class="custom-input" /> -->
                            <app-full-date name="date" [(ngModel)]="item.dateValue" ngDefaultControl
                                [selectedDate]="item.dateValue"
                                (OnDateSelect)="getDate($event,item)"></app-full-date>
                        </ng-container>
                        <ng-container *ngSwitchCase="5">
                            <label>
                                <input type="checkbox" [(ngModel)]="item.checkedValue"
                                    class="custom-input" />

                            </label>
                        </ng-container>
                        <!-- <ng-container *ngSwitchCase="5">
                            <select [(ngModel)]="item.checkedValue" class="custom-input">
                                <option [ngValue]="true">True</option>
                                <option [ngValue]="false">False</option>
                            </select>
                        </ng-container> -->
                    </ng-container>
                 
                </td>
          
                <td>

                    <input type="button" *ngIf="insertBillDynamicDeterminant.dynamicDeterminantListDto.length-1==i||insertBillDynamicDeterminant.dynamicDeterminantListDto.length-1==0" class="btn btn-primary btn-table" (click)="addItem()" value="{{'general.add-new-row'|translate}}">

                    <button class="btn btn-danger btn-table px-3" *ngIf="insertBillDynamicDeterminant.dynamicDeterminantListDto.length-1!==i" value="{{'buttons.delete'|translate}}" type="button" (click)="deleteItem(i)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        
        </tbody>
    </table>
</div>