<div class="table-wrapper">
    <table class="custom-table">
        <thead>
                
            <tr>
                <td colspan="2">
                    <button (click)="insertBillDynamic()"
                        style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer;">Save</button>
                </td>
            </tr>
            <tr>
                <th style="width: 10px;">#</th>
                <th *ngFor="let key of insertBillDynamicDeterminant.itemCardDeterminantListDto">
                    {{ key.determinantsMaster.nameAr }}
                </th>
              
            </tr>
        </thead>
        <tbody>
           
            <tr *ngFor="let item of insertBillDynamicDeterminant.dynamicDeterminantListDto; let i = index">
                <td style="width: 10px;">{{ i + 1 }}</td>
                <td *ngFor="let key of insertBillDynamicDeterminant.itemCardDeterminantListDto">
                    <ng-container [ngSwitch]="key.determinantsMaster.valueType">
                        <ng-container *ngSwitchCase="1">
                            <select [(ngModel)]="item.selectedValue" class="custom-input">
                                <option *ngFor="let determinantDetail of key.determinantsMaster.determinantsDetails"
                                    [value]="determinantDetail.id">{{ determinantDetail.nameAr }}</option>
                            </select>
                        </ng-container>

                        <ng-container *ngSwitchCase="2">
                            <input type="number" [(ngModel)]="item.numberValue" class="custom-input" />
                        </ng-container>
                        <ng-container *ngSwitchCase="3">
                            <input type="text" [(ngModel)]="item.textValue" class="custom-input" />
                        </ng-container>
                        <ng-container *ngSwitchCase="4">
                            <!-- <input type="date" [(ngModel)]="item.value" class="custom-input" /> -->
                            <app-full-date name="date" [(ngModel)]="item.dateValue" ngDefaultControl
                                [selectedDate]="item.dateValue"
                                (OnDateSelect)="getDate($event)"></app-full-date>
                        </ng-container>
                        <ng-container *ngSwitchCase="5">
                            <label>
                                <input type="checkbox" [(ngModel)]="item.checkedValue"
                                    class="custom-input" />

                            </label>
                        </ng-container>
                    </ng-container>
                    <!-- <button (click)="addNewObject(item,key)" class="add-button">Add</button> -->
                </td>
            
            </tr>
        
        </tbody>
    </table>
</div>