<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
	<p style="color: white ;font-size: 20px;"> {{'general.loading'|translate}}... </p>
</ngx-spinner>
<section class="inner-page-wrapper inner-page-wrapper-units">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card card-absolute">
					<div class="bg-primary card-header mb-1">

						<div class="form-group position-relative">

							{{codeSerial}}


						</div>
					</div>
					<div class="card-body mt-4">

						<form [formGroup]="journalEntryForm" id="journalEntrySubmit" class="tabs-form">
							<div class="main-branch ranoo">
								<div class="wrapper-title">

									<h3>{{'component-names.journalEntry-information'|translate}}</h3>
									<hr>
									<div class="row ">
										<div class="col-md-6 col-12">
											<label for="journalId" class="label-name">
												{{'component-names.journal'|translate}}

											</label>
											<span class="text-danger">*</span>
											<div class="input-group  popup">
												<ng-select style="width:100%" formControlName="journalId"
													(change)="onChangeJournal($event)" name='journalId' class=""
													id="journalId">
													<ng-option *ngFor="let journal of journalList" [value]="journal.id">
													
														<span>{{lang=="ar"?journal.nameAr:journal.nameEn}}</span>
													</ng-option>
												</ng-select>

											</div>
											<div *ngIf="(f['journalId'].touched || f['journalId'].dirty ) && f['journalId'].invalid"
											class="validation alert-danger position-absolute">
											<i class="fa fa-close "></i>
											<span *ngIf="f['journalId'].errors && f['journalId'].errors['required']"
												class="f-12 ng-star-inserted text-white">
												{{'error.required'|translate}} </span>
										</div>
										</div>


										<!-- <div class="col-md-6 col-12">
											<label for="fiscalPeriodId" class="label-name">
												{{'component-names.fiscalPeriod'|translate}}

											</label>
											<div class="input-group  popup">
												<ng-select style="width:100%" formControlName="fiscalPeriodId"
													(change)="onChangefiscalPeriod($event)" name='fiscalPeriodId'
													class="" id="fiscalPeriodId">
													<ng-option *ngFor="let fiscalPeriod of fiscalPeriodList"
														[value]="fiscalPeriod.id">
														
														<span>{{lang=="ar"?fiscalPeriod.nameAr:fiscalPeriod.nameEn}}</span>
													</ng-option>
												</ng-select>

											</div>

										</div> -->
										<div class="col-md-6 col-12">
											<label for="code" class="label-name">
												{{'general.code'|translate}}</label><span class="text-danger">*</span>
											<div class="form-group0 position-relative">
												<!-- [ngClass]="{'is-invalid':f['code'].errors || f['code'].invalid}" -->
												<input type="text" class="form-control icon-branch" name="code"
													(change)="onChangeCode($event)" formControlName="code">
												<div *ngIf="(f['code'].touched || f['code'].dirty ) && f['code'].invalid"
													class="validation alert-danger position-absolute">
													<i class="fa fa-close "></i>
													<span *ngIf="f['code'].errors && f['code'].errors['required']"
														class="f-12 ng-star-inserted text-white">
														{{'error.required'|translate}} </span>
												</div>

											</div>
										</div>

										<!-- <div class="col-md-6 col-12">
                                            <label for="date" class="label-name">
												{{'general.date'|translate}}</label><span class="text-danger">*</span>
                                            <div class="form-group0 position-relative">

                                                <input type="date" class="form-control " name="date" formControlName="date">
                                                <div *ngIf="(f['date'].touched || f['date'].dirty ) && f['date'].invalid" class="validation alert-danger position-absolute">
                                                    <i class="fa fa-close "></i>
                                                    <span *ngIf="f['date'].errors && f['date'].errors['required']" class="f-12 ng-star-inserted text-white">
														{{'error.required'|translate}}</span>
                                                </div>

                                            </div>
                                        </div> -->
										<div class="col-md-6 col-12" disabled="postType == 1"
											[ngClass]="{'disabled':postType == 1}">
											<label for="date" class="label-name">
												{{'general.date'|translate}}</label><span class="text-danger">*</span>
											<div class="form-group position-relative">
												<app-full-date name="date" formControlName="date" [(ngModel)]="date"
													ngDefaultControl [selectedDate]="date"
													(OnDateSelect)="getDate($event)"></app-full-date>

												<div *ngIf="(f['date'].touched || f['date'].dirty ) && f['date'].invalid"
													class="validation alert-danger position-absolute">
													<i class="fa fa-close "></i>
													<span *ngIf="f['date'].errors && f['date'].errors['required']"
														class="f-12 ng-star-inserted text-white">
														{{'error.required'|translate}}</span>
												</div>

											</div>
										</div>

										<div class="col-12 col-md-6">
											<label for="notes" class="label-name">{{'general.notes'|translate}}</label>
											<div class="form-group position-relative">

												<input type="text" class="form-control icon-branch" name="notes"
													formControlName="notes">

											</div>
										</div>

										<div
											class="align-items-center col-12 col-md-6 d-flex justify-content-start gap-5">
											<div class="media">
												<label class="label-name">
													{{'journalEntry.openBalance'|translate}} </label>
												<div class="icon-state media-body">
													<label class="switch">
														<input type="checkbox" class="form-control" name="openBalance"
															formControlName="openBalance">
														<span class="switch-state"></span>
													</label>
												</div>
											</div>
											<div class="media" hidden>
												<label class="label-name"> {{'general.status'|translate}}
												</label>
												<div class="icon-state media-body">
													<label class="switch">
														<input type="checkbox" class="form-control" name="isActive"
															formControlName="isActive">
														<span class="switch-state"></span>
													</label>
												</div>
											</div>
										</div>
										<!-- <div class="input-group  popup">
                                            <label for="0" class="label-name"> {{'general.entries-status'|translate}}</label>
                                            <ng-select class="custom"  formControlName="postType"
                                              [items]="entriesStatusEnum" bindLabel="name" bindValue="id" style="width:100%"></ng-select>
                                          </div> -->
									</div>

								</div>
								<div class="row">
									<div class="col gap-12 grid grid-cols-12 ">
										<ul ngbNav #nav="ngbNav" class="nav-tabs">
											<li ngbNavItem [destroyOnHide]="false">
												<a ngbNavLink> {{'general.details' |translate}}</a>
												<ng-template ngbNavContent>
													<div class="overflow-auto0">
														<div formArrayName="journalEntriesDetail" style="width: 100% ; overflow-x: scroll;">
															<div style="width: 1500px;" class="table-container">
																<table class="table table-broder">
																	<thead class="thead-light">
																		<tr>
																			 <th># </th>
																			<th >{{ 'journalEntry.accountNumber' | translate
																				}}
																			</th>
																			<th >{{ 'journalEntry.credit' | translate }}</th>
																			<th >{{ 'journalEntry.debit' | translate }}</th>
																			<th >{{ 'journalEntry.currency' | translate }}
																			</th>
																			<th >{{ 'journalEntry.balance' | translate }}
																			</th>
																			<th >{{ 'journalEntry.localCredit' | translate }}
																			</th>
																			<th >{{ 'journalEntry.localDebit' | translate }}
																			</th>
																			<th>{{ 'journalEntry.costCenter' | translate }}
																			</th>
																			<th >{{ 'journalEntry.description' | translate }}
																			</th>
																			<!-- <th>{{ 'journalEntry.actions' | translate }}</th> -->
																			<th></th>
																		</tr>
																	</thead>
																	<tbody>
						
																		<tr *ngFor="let row of journalEntryForm.get('journalEntriesDetail')['controls']; let i = index"
																			[formGroupName]="i">
																			<!-- <td> -->
																			<!-- {{ i+1 }} -->
																			<!-- <input type="text"
																					style="border: none; border-color: transparent;" hidden
																					formControlName="jEDetailSerial" name="jEDetailSerial"> -->
																			<!-- </td> -->
																			<td> {{i+1}}</td>
																			<td>
						
																				<div class="input-group ">
						
																					<!-- <select required class="form-control required" (change)="onChangeGetDefaultCurrency($event,i)" name="accountId" formControlName="accountId">
						
																						<option *ngFor="let account of accountList"
																							[value]="account.id">
																							<span>{{lang=="ar"?account.nameAr:account.nameEn}}</span>
																						</option>
						
																					</select>
						
																					<div class="">
																						<button class="btn btn-rounded btn-dark"
																							(click)="showSearchCashAccountModal=true" type="button"><i
																								class="fa fa-search"></i></button>
																					</div> -->
																					<input class="form-control" formControlName="accountName"
																						[ngModelOptions]="{standalone: true}" 	placeholder="{{'general.search'|translate}}"
																						[ngClass]="{ 'required': (row.get('accountName')?.errors?.required && row.get('accountName')?.touched) }"
																						type="text" name="accountId"
																						(keydown.Enter)="openSearchAccount(i)">
																					<div *ngIf="row.get('accountName')?.errors?.required && row.get('accountName')?.touched"
																						class="invalid-feedback">
																						Account Name is required.
																					</div>
																				</div>
						
																			</td>
						
																			<td>
						
																				<div class="input-group ">
																					<input type="number" required class="form-control required"
																						(keypress)="numberOnly($event,i,'Credit')" 
																						(input)="onInput($event.target.value,i,'Credit')"
																						formControlName="jEDetailCredit" name="jEDetailCredit"
																						style="width: 70px;">
																				</div>
						
						
																			</td>
																			<td>
						
																				<div class="input-group">
																					<input type="number" required class="form-control required"
																						(keypress)="numberOnly($event,i,'Debit')"
																						(input)="onInput($event.target.value,i,'Debit')"
																						formControlName="jEDetailDebit" name="jEDetailDebit"
																						style="width: 70px;">
																				</div>
						
						
																			</td>
																			<td>
						
																				<div class="input-group">
						
																					<!-- <select class="form-control" name="currencyId" (change)="onChangeCurrency($event,i)" formControlName="currencyId" [ngClass]="{ 'required': (row.get('currencyId')?.errors?.required)}">
						
						
																						<option *ngFor="let currency of currencyList"
																							[value]="currency.id">
																							<span>{{lang=="ar"?currency.nameAr:currency.nameEn}}</span>
																						</option>
																					</select>
																					<div class="">
																						<button class="btn btn-rounded btn-dark"
																							(click)="showSearchCurrencyModal=true" type="button"><i
																								class="fa fa-search"></i></button>
																					</div> -->
																					<input class="form-control" formControlName="currencyName"
																						[ngModelOptions]="{standalone: true}" type="text" 	placeholder="{{'general.search'|translate}}"
																						name="currencyId"
																						[ngClass]="{ 'required': (row.get('accountId')?.errors?.required)}"
																						(keydown.Enter)="openSearchCurrency(i)"
																						(change)="onChangeCurrency($event,i)">
																				</div>
						
						
																			</td>
																			<td>
						
																				<div class="input-group ">
																					<input type="number" required disabled="disabled"
																						class="form-control required"
																						formControlName="transactionFactor"
																						name="transactionFactor" style="width: 70px;">
																				</div>
						
						
																			</td>
																			<td>
						
																				<div class="input-group ">
																					<input type="number" required class="form-control required"
																						disabled="disabled"
																						formControlName="jEDetailCreditLocal"
																						name="jEDetailCreditLocal" style="width: 70px;">
																				</div>
						
						
																			</td>
																			<td>
						
																				<div class="input-group ">
																					<input type="number" required class="form-control required"
																						disabled="disabled" formControlName="jEDetailDebitLocal"
																						name="jEDetailDebitLocal" style="width: 70px;">
																				</div>
						
																			</td>
																			<td>
						
																				<div class="input-group ">
						
																					<!-- <select class="form-control" name="costCenterId" formControlName="costCenterId" [ngClass]="{ 'required': (row.get('costCenterId')?.errors?.required)}">
						
																						<option *ngFor="let costCenter of costCenterList"
																							[value]="costCenter.id">
																							<span>{{costCenter.nameAr}}</span>
																						</option>
						
																					</select> -->
																					<input class="form-control" formControlName="costCenterName"
																						[ngModelOptions]="{standalone: true}" type="text" 	placeholder="{{'general.search'|translate}}"
																						name="costCenterId"
																						[ngClass]="{ 'required': (row.get('costCenterId')?.errors?.required)}"
																						(keydown.Enter)="openSearchCostCenter(i)">
						
																				</div>
						
																			</td>
																			<td>
						
																				<textarea class="form-control" formControlName="notes"
																					name='notes'></textarea>
						
																			</td>
						
																			<td>
																	
																				<input type="button" *ngIf="journalEntriesDetailList.length-1==i||journalEntriesDetailList.length-1==0"
																					class="btn btn-primary btn-table"
																					(click)="initGroup()"
																					value="{{'buttons.add'|translate}}">
																					
																					<button class="btn btn-danger btn-table px-3" *ngIf="journalEntriesDetailList.length-1!==i"
																					value="{{'buttons.delete'|translate}}" type="button"
																					(click)="onDeleteRow(i)">
																					<i class="fa fa-trash"></i>
																				</button>
																			</td>
						
																			<!-- <td>
																				
																				<button class="btn btn-danger btn-table px-3"
																					value="{{'buttons.delete'|translate}}" type="button"
																					(click)="onDeleteRow(i)">
																					<i class="fa fa-trash"></i>
																				</button>
																			</td> -->
																			<!-- <td>
																			<button type="button"  (click)="initGroup()" class="btn btn-rounded btn-primary d-flex align-items-center gap-2"> <i
																				class="fa fa-plus"></i>
																		   </button>
																		</td> -->
																		</tr>
						
																	</tbody>
						
						
																</table>
																<!-- <table>
																	<tr>
																		<td></td>
																		<td> -->
																<!-- <button type="button" (click)="initGroup()"
																	class="btn btn-rounded btn-primary d-flex align-items-center gap-2 mt-3">
																	<i class="fa fa-plus"></i>
																</button> -->
																<!-- </td>
																	</tr>
																</table> -->
															</div>
						
						
						
														</div>
													</div>
												</ng-template>
											</li>


										</ul>
										<div [ngbNavOutlet]="nav" class=""></div>
									</div>
								</div>
							
							
							</div>
							<br>

							<!-- <button type="button" (click)="initGroup()" class="btn btn-rounded btn-primary d-flex align-items-center gap-2"> <i
									class="fa fa-plus"></i>
								اضافة صف جديد</button> -->
						</form>

						<table class="mt-4 total-table table table-borderless text-end w-100">
							<tr>
								<td>{{'journalEntry.totalDebit' | translate }}</td>
								<td class="text-start">{{  totalDebit }}</td>
							</tr>
							<tr>
								<td>{{'journalEntry.totalCredit' | translate }}</td>
								<td class="text-start"><label for="totalDebitValue" class="p-0">{{ totalCredit }}</label>
								</td>
							</tr>
							<tr>
								<td>{{'journalEntry.totalDebitLocal' | translate }}</td>
								<td class="text-start"><label class="p-0">{{  totalDebitLocal }}</label></td>
							</tr>
							<tr>
								<td>{{'journalEntry.totalCreditLocal' | translate }}</td>
								<td class="text-start"><label for="totalDebitValue" class="p-0">{{ totalCreditLocal
										}}</label></td>
							</tr>
						</table>



					</div>
				</div>
			</div>
		</div>

	</div>
</section>

<app-public-search-modal [isVisible]="showSearchCashAccountModal" [routeApi]="routeAccountApi"
	(emitClose)="showSearchCashAccountModal = false;" (emitSearch)="onSelectCashAccount($event)">

</app-public-search-modal>
<app-public-search-modal [isVisible]="showSearchCostCenterModal" [routeApi]="routeCostCenterApi"
	(emitClose)="showSearchCostCenterModal = false;" (emitSearch)="onSelectCostCenter($event)">
</app-public-search-modal>


<app-public-search-modal [isVisible]="showSearchCurrencyModal" [routeApi]="routeCurrencyApi"
	(emitClose)="showSearchCurrencyModal = false;" (emitSearch)="onSelectCurrencyPopup($event)">
</app-public-search-modal>