<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
	<p style="color: white ;font-size: 20px;"> {{'general.loading'|translate}}... </p>
</ngx-spinner>
<section class="inner-page-wrapper inner-page-wrapper-units">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<form [formGroup]="accountingPeriodForm" id="accountingPeriodSubmit" class="tabs-form">
							<div class="main-customer">
								<div class="wrapper-title">

									<h3>{{'component-names.close-accounting-period-information'|translate}}</h3>
									<hr>
									<div class="row">

										<div class="col-md-6 col-12">
											<label for="fromDate" class="label-name">
												{{'general.fromDate'|translate}}</label><span
												class="text-danger">*</span>
											<div class="form-group0 position-relative">
												<app-full-date name="fromDate" formControlName="fromDate"
													[(ngModel)]="fromDate" ngDefaultControl [selectedDate]="fromDate"
													(OnDateSelect)="getFromDate($event)"></app-full-date>

												<div *ngIf="(f['fromDate'].touched || f['fromDate'].dirty ) && f['fromDate'].invalid"
													class="validation alert-danger position-absolute">
													<i class="fa fa-close "></i>
													<span
														*ngIf="f['fromDate'].errors && f['fromDate'].errors['required']"
														class="f-12 ng-star-inserted text-white">
														{{'error.required'|translate}}</span>
												</div>

											</div>
										</div>
										<div class="col-md-6 col-12">
											<label for="toDate" class="label-name">
												{{'general.toDate'|translate}}</label><span class="text-danger">*</span>
											<div class="form-group0 position-relative">
												<app-full-date name="toDate" formControlName="toDate"
													[(ngModel)]="toDate" ngDefaultControl [selectedDate]="toDate"
													(OnDateSelect)="getToDate($event)"></app-full-date>

												<div *ngIf="(f['toDate'].touched || f['toDate'].dirty ) && f['toDate'].invalid"
													class="validation alert-danger position-absolute">
													<i class="fa fa-close "></i>
													<span *ngIf="f['toDate'].errors && f['toDate'].errors['required']"
														class="f-12 ng-star-inserted text-white">
														{{'error.required'|translate}}</span>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>