<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-xl-12">

            <div class="card-body text-center p-3">

                <!-- <ng-template #content let-modal> -->
                <div class="modal-header">
                    <h4 class="modal-title text-capitalize" id="modal-basic-title">{{'login.change-password'|translate}}</h4>
                    <!-- <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button> -->
                </div>
                <div class="modal-body">
                    <form [formGroup]="passForm" class="custom-datepicker custom-datepicker-dropdown">
                        <!-- <p class="">Your new password must be different from your previous passwords.</p> -->
                        <div class="form-group">
                            <!-- <label for="newPassword">Old password</label> -->
                            <div class="input-group">
                                <input type="password" class="form-control" id="oldPassword" formControlName="oldPassword" name="oldPassword" placeholder="{{'login.old-password'|translate}}" [ngClass]="{'error' : (f.newPassword.touched) && (f.oldPassword.errors)}">
                                <small *ngIf="(f.oldPassword.touched) && (f.oldPassword.errors)" class="w-100 text-danger mt-1">
                      <span *ngIf="(f.oldPassword.errors?.required)">{{'general.required'|translate}}</span>
                      <span *ngIf="(f.oldPassword.errors.minlength)">{{'error.invalidPassword'|translate}}</span>

                    </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- <label for="newPassword">New password</label> -->
                            <div class="input-group">
                                <input type="password" class="form-control" id="newPassword" formControlName="newPassword" name="newPassword" placeholder="{{'login.password'|translate}}" [ngClass]="{'error' : (f.newPassword.touched) && (f.newPassword.errors)}">
                                <small *ngIf="(f.newPassword.touched) && (f.newPassword.errors)" class="w-100 text-danger mt-1">
                      <span *ngIf="(f.newPassword.errors?.required)">{{'general.required'|translate}}</span>
                      <span *ngIf="(f.newPassword.errors.minlength)">{{'error.invalidPassword'|translate}}</span>
                      <span *ngIf="(f.newPassword.errors?.notEquivalent)">{{'login.password-no-match'|translate}}</span>
                    </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <!-- <label for="newPassword">confirmPassword</label> -->
                            <div class="input-group">
                                <input type="password" class="form-control" id="confirmNewPassword" placeholder="{{'login.confirm-password'|translate}}" formControlName="confirmNewPassword" name="confirmNewPassword" [ngClass]="{'error' : (f.confirmNewPassword.touched) && (f.confirmNewPassword.errors)}">
                                <small *ngIf="(f.confirmNewPassword.touched) && (f.confirmNewPassword.errors)" class="w-100 text-danger mt-1">
                      <span *ngIf="(f.confirmNewPassword.errors?.required)">{{'general.required'|translate}}</span>
                      <span *ngIf="(f.confirmNewPassword.errors.minlength)">{{'validation.invalidPassword'|translate}}</span>
                      <span
                        *ngIf="(f.confirmNewPassword.errors?.notEquivalent)">{{'validation.password-no-match'|translate}}</span>
                    </small>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark"> {{'buttons.cancel'|translate}}</button>
                    <button type="button" class="btn btn-primary" (click)="onSubmit()">{{'buttons.save'|translate}}</button>
                </div>
                <!-- </ng-template> -->


                <!-- <h5 class="p-15">Your new password must be different from your previous passwords</h5>
        <button class="btn btn-lg btn-outline-primary" (click)="open(content)">{{'login.change-password'|translate}}</button> -->

            </div>


        </div>

    </div>
</div>
