
<section class="inner-page-wrapper inner-page-auction">
    <div class="container-fluid p-0">
        <app-tabulator [idColName]="'id'" [childRowData]="countries" [parentColName]="'groupId'" [divId]="'Countries'"  [columnSettings]="columnNames" [componentName]="'countries'" (onEditItem)="onEdit($event)" (onCheckItem)="onCheck($event)" (onDeleteItem)="showConfirmDeleteMessage($event)" (onAddItem)="openCountries()" (onMenuActionSelected)="onMenuActionSelected($event)"
            [showMenuOptions]="menuOptions" [direction]="direction" [sortByList]="sortByCols" [groupByList]="groupByCols" [panelId]="panelId" [searchFilters]="searchFilters" (onSearchTextChange)="onSearchTextChange($event)" [groupType]="1" [path]="'countries'"></app-tabulator>
    </div>
  </section>
  