<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
	<p style="color: white ;font-size: 20px;"> {{'general.loading'|translate}}... </p>
</ngx-spinner>
<div class="card ">
	<div class="card-body">
		<div class="d-flex justify-content-between mb-3">
			<button nz-button nzType="primary" (click)="expandAllRows()">
				{{ 'general.all' | translate }}
			</button>
			<div class="search-bar">
				<input type="text" class="form-control icon-branch" [(ngModel)]="codeSearchText"
					placeholder=" {{'general.code'|translate}}">
				<input type="text" class="form-control icon-branch" [(ngModel)]="nameSearchText"
					placeholder="{{'general.name'|translate}}">
				<input type="text" class="form-control icon-branch" [(ngModel)]="levelSearchText"
					(keyup)="onKeyUp($event)" placeholder="{{'general.level'|translate}}">
				<button nz-button nzType="primary" (click)="searchData()"
					class=" b-r-0 mx-2">{{'general.search'|translate}}</button>
			</div>
		</div>


		<nz-table #expandTable [nzBordered]="true" [nzData]="listOfMapData" nzTableLayout="fixed"
			class="table table-broder table-tree">
			<thead>
				<tr>
					<th> {{'general.account-number'|translate}}</th>
					<th> {{'general.nameAr'|translate}}</th>
					<th> {{'general.nameEn'|translate}}</th>
					<th> {{'general.level'|translate}}</th>
					<th><span *ngIf="lang=='ar'"> رئيسي</span>
						<span *ngIf="lang!=='ar'">{{'general.parent'|translate}}</span>
					</th>

					<th> {{'account.accountType'|translate}}</th>
					<!-- <th>{{'general.actions'|translate}}</th> -->
					<th> {{'buttons.add'|translate}}</th>
					<th> {{'buttons.edit'|translate}}</th>
					<th> {{'buttons.delete'|translate}}</th>


				</tr>
			</thead>
			<tbody>
				<ng-container *ngFor="let data of expandTable.data">
					<ng-container *ngFor="let item of mapOfExpandedData[data.treeId]">
						<!-- <tr *ngIf="(item.parent && item.parent.expanded) || !item.parent"
							[class.item-children]="(item.parent && item.parent.expanded)">
							<td [nzIndentSize]="item.levelId! * 20" [nzShowExpand]="!!item.children"
								[(nzExpand)]="item.expanded"
								(nzExpandChange)="collapse(mapOfExpandedData[data.treeId], item, $event)"> -->
						<tr *ngIf="(item.parent && item.parent.expanded) || !item.parent"
							[class.item-children]="(item.parent && item.parent.expanded)"
							[ngClass]="'level-' + item.levelId">
							<td [nzIndentSize]="item.levelId! * 20" [nzShowExpand]="!!item.children"
								[(nzExpand)]="item.expanded"
								(nzExpandChange)="collapse(mapOfExpandedData[data.treeId], item, $event)">
								{{ item.code }}
							</td>
							<td>{{ item.nameAr }}</td>
							<td>{{ item.nameEn }}</td>
							<td>{{ item.levelId+1 }}</td>
							<td>
								<span *ngIf="!item.isLeafAccount" class="markTrue">✓</span>
								<span *ngIf="item.isLeafAccount" class="markFalse">✘</span>
							</td>
							<td>
								<span *ngIf="item.accountType==1&&lang=='ar'">قائمة الدخل</span>
								<span *ngIf="item.accountType==2&&lang=='ar'">الميزانية</span>
								<span *ngIf="item.accountType==1&&lang!=='ar'">Income Statement </span>
								<span *ngIf="item.accountType==2&&lang!=='ar'">Budget</span>
							</td>
							<td>
								<button nz-button (click)="addNode(item.id)">
									<i class="fa fa-file-o"></i>
									<!-- {{'toolbar.new'|translate}} -->
								</button>
							</td>
							<td>
								<button nz-button (click)="onEdit(item.id)">
									<!-- {{'buttons.edit'|translate}} -->
									<i class="fa fa-edit"></i>
								</button>
							</td>
							<td>
								<button nz-button (click)="showConfirmDeleteMessage(item.id)"
									[disabled]="!!item.children">
									<!-- {{'buttons.delete'|translate}} -->
									<i class="fa fa-trash"></i>
								</button>
							</td>
						</tr>
					</ng-container>
				</ng-container>
			</tbody>
		</nz-table>
	</div>
</div>