<div class="container-fluid">
    <div class="row bg-login-admin">
        <!-- <div class="col-xl-6 p-0"><img class="bg-img-cover bg-center h-100vh" src="../assets/images/login/bg-login.png" alt="looginpage" width="100%">
        </div> -->


        <div class="col-xl-6 p-0">
            <div class="login-card">
                <div>


                    <div class="login-main ">
                        <form class="theme-form" [formGroup]="forgetForm">
                            <div>
                                <a class="logo" routerLink='/'>
                                    <!-- <img class="img-fluid for-light w-50" src="assets/images/logo/logo-1.png" alt="looginpage" width="200">
                                    <img class="img-fluid for-dark w-50" src="assets/images/logo/logo-1.png" alt="looginpage" width="200"> -->
                                </a>
                            </div>


                            <div class="form-group">
                                <label class="col-form-label">{{'login.email'|translate}}</label>
                                <input class="form-control" type="input" required="" formControlName="email">
                                <div *ngIf="forgetForm.controls.email.touched && forgetForm.controls.email.errors?.required" class="text text-danger mt-1">
                                    {{'error.required'|translate}}
                                </div>

                            </div>

                            <div class="form-group my-5">

                                <!-- <a [routerLink]="'/authentication/forgot-password'" class="link">Forgot password?</a> -->
                                <button class="btn btn-block btn-primary w-100" [class.loader--text]="showLoader" [disabled]="!forgetForm.valid || showLoader" (click)="login()" type="button"><span>{{'login.forget-password'|translate}}</span>
								</button>
                            </div>

                            <a [routerLink]="['/authentication/login']" class="f-w-400">
                                <p class="mb-2 text-muted btn-link"> {{'login.login'|translate}}</p>
                            </a>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer start-->

        <footer class="  m-0 position-absolute right-0 bottom-0 row">
            <div class="col-md-6 col text-start">
                <button class="arabic btn  p-0" *ngIf="currentSystemLanguage=='en'" (click)="changeLanguage('ar')">
					<i class="flag-icon flag-icon-sa "></i>
					{{'language.ARABIC'|translate}}
				</button>
                <button class="english btn  p-0" *ngIf="currentSystemLanguage=='ar'" (click)="changeLanguage('en')">
					<i class="flag-icon flag-icon-us"></i>
					{{'language.ENGLISH'|translate}}
				</button>
            </div>
            <app-footer class="col-md-6 col">

            </app-footer>
        </footer>

        <!-- footer End-->
    </div>


</div>
