<div class="media profile-media" (click)="toggleMenu()">
	<img class="b-r-10" src="assets/images/dashboard/profile.png" alt="">
	<div class="media-body">
		<span>{{'login.welcome' | translate}}</span>
		<p class="mb-0 font-roboto">{{userName}} <i class="middle fa fa-angle-down"></i></p>
	</div>
</div>

<ul class="profile-dropdown onhover-show-div" [class.show]="isMenuOpen">
	<li>
		<a (click)="showModalFrom()">
			<app-feather-icons [icon]="'settings'"></app-feather-icons>
			<span>{{'login.change-password' | translate}}</span>
		</a>
	</li>
	<li (click)="logoutFunc()">
		<app-feather-icons [icon]="'log-in'"></app-feather-icons>
		<span>{{'login.log-out' | translate}}</span>
	</li>
</ul>