<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
	<p style="color: white ;font-size: 20px;"> {{'general.loading'|translate}}... </p>
</ngx-spinner>
<section class="inner-page-wrapper inner-page-wrapper-units">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-body">
						<form [formGroup]="closeFiscalPeriodForm" id="closeFiscalPeriodSubmit" class="tabs-form">
							<div class="main-branch ranoo">
								<div class="wrapper-title">

									<h3>{{'component-names.close-fiscal-period'|translate}}</h3>
									<hr>
									<div class="row">
										<div class="col-md-6 col-12">
											<label for="closeDate" class="label-name">
												{{'general.date'|translate}}
											</label>
											<span class="text-danger">*</span>
											<div class="form-group0 position-relative">

												<app-full-date name="closeDate" formControlName="closeDate"
													[(ngModel)]="closeDate" ngDefaultControl [selectedDate]="closeDate"
													(OnDateSelect)="getCloseDate($event)"></app-full-date>


												<div *ngIf="(f['closeDate'].touched || f['closeDate'].dirty ) && f['closeDate'].invalid"
													class="validation alert-danger position-absolute">
													<i class="fa fa-close "></i>
													<span
														*ngIf="f['closeDate'].errors && f['closeDate'].errors['required']"
														class="f-12 ng-star-inserted text-white">
														{{'error.required'|translate}}</span>
												</div>

											</div>
										</div>

										<div class="col-md-6 col-12">
											<label for="fiscalPeriodId"
												class="label-name">{{'component-names.fiscalPeriod'|translate}}
											</label>
											<span class="text-danger">*</span>

											<div class="input-group  popup">
												<ng-select style="width:100%" formControlName="fiscalPeriodId"
													name='fiscalPeriodId' class="" id="fiscalPeriodId"
													[(ngModel)]="fiscalPeriodId"
													(change)="getFiscalPeriodById(fiscalPeriodId)">
													<ng-option *ngFor="let period of fiscalPeriodList"
														[value]="period.id">
														{{lang=="ar"?period.nameAr:period.nameEn}}
													</ng-option>
												</ng-select>

												<div *ngIf="(f['fiscalPeriodId'].touched || f['fiscalPeriodId'].dirty ) && f['fiscalPeriodId'].invalid"
													class="validation alert-danger position-absolute">
													<i class="fa fa-close "></i>
													<span
														*ngIf="f['fiscalPeriodId'].errors && f['fiscalPeriodId'].errors['required']"
														class="f-12 ng-star-inserted text-white">
														{{'error.required'|translate}}</span>
												</div>


											</div>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>