<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white ;font-size: 20px;"> Proccessing... </p>
</ngx-spinner>
<section class="inner-page-wrapper inner-page-wrapper-units">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form [formGroup]="fiscalPeriodForm" id="fiscalPeriodSubmit" class="tabs-form">
                            <div class="main-customer">
                                <div class="wrapper-title">

                                    <h3>{{'component-names.fiscalPeriod-information'|translate}}</h3>
                                    <hr>
                                    <div class="row align-items-center">

                                        <div class="col-md-6 col-12">
                                            <label for="code" class="label-name">
                                                {{'general.code'|translate}}</label><span class="text-danger">*</span>
                                            <div class="form-group position-relative">

                                                <input type="text" class="form-control "
                                                    [ngClass]="{'is-invalid':f['code'].errors || f['code'].invalid}"
                                                    name="code" formControlName="code">
                                                <div *ngIf="(f['code'].touched || f['code'].dirty ) && f['code'].invalid"
                                                    class="validation alert-danger position-absolute">
                                                    <i class="fa fa-close "></i>
                                                    <span *ngIf="f['code'].errors && f['code'].errors['required']"
                                                        class="f-12 ng-star-inserted text-white">
                                                        {{'error.required'|translate}} </span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <label for="nameAr" class="label-name">
                                                {{'general.nameAr'|translate}}</label><span class="text-danger">*</span>
                                            <div class="form-group position-relative">

                                                <input type="text" class="form-control "
                                                    [ngClass]="{'is-invalid':f['nameAr'].errors || f['nameAr'].invalid}"
                                                    name="nameAr" formControlName="nameAr">
                                                <div *ngIf="(f['nameAr'].touched || f['nameAr'].dirty ) && f['nameAr'].invalid"
                                                    class="validation alert-danger position-absolute">
                                                    <i class="fa fa-close "></i>
                                                    <span *ngIf="f['nameAr'].errors && f['nameAr'].errors['required']"
                                                        class="f-12 ng-star-inserted text-white">
                                                        {{'error.required'|translate}}</span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <label for="nameEn" class="label-name">
                                                {{'general.nameEn'|translate}}</label><span class="text-danger">*</span>
                                            <div class="form-group position-relative">

                                                <input type="text" class="form-control " name="nameEn"
                                                    formControlName="nameEn">
                                                <div *ngIf="(f['nameEn'].touched || f['nameEn'].dirty ) && f['nameEn'].invalid"
                                                    class="validation alert-danger position-absolute">
                                                    <i class="fa fa-close "></i>
                                                    <span *ngIf="f['nameEn'].errors && f['nameEn'].errors['required']"
                                                        class="f-12 ng-star-inserted text-white">
                                                        {{'error.required'|translate}}</span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <label for="fromDate" class="label-name">
                                                {{'general.fromDate'|translate}}</label><span class="text-danger">*</span>
                                            <div class="form-group position-relative">

                                                <input type="date" class="form-control " name="fromDate"
                                                    formControlName="fromDate">
                                                <div *ngIf="(f['fromDate'].touched || f['fromDate'].dirty ) && f['fromDate'].invalid"
                                                    class="validation alert-danger position-absolute">
                                                    <i class="fa fa-close "></i>
                                                    <span *ngIf="f['fromDate'].errors && f['fromDate'].errors['required']"
                                                        class="f-12 ng-star-inserted text-white">
                                                        {{'error.required'|translate}}</span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <label for="toDate" class="label-name">
                                                {{'general.toDate'|translate}}</label><span class="text-danger">*</span>
                                            <div class="form-group position-relative">

                                                <input type="date" class="form-control " name="toDate"
                                                    formControlName="toDate">
                                                <div *ngIf="(f['toDate'].touched || f['toDate'].dirty ) && f['toDate'].invalid"
                                                    class="validation alert-danger position-absolute">
                                                    <i class="fa fa-close "></i>
                                                    <span *ngIf="f['toDate'].errors && f['toDate'].errors['required']"
                                                        class="f-12 ng-star-inserted text-white">
                                                        {{'error.required'|translate}}</span>
                                                </div>

                                            </div>
                                            <div *ngIf="fiscalPeriodForm.hasError('dateRange')">
                                           
                                                {{'error.from-to-date'|translate}}
                                              </div>
                                        </div>

                                        <div class="col-md-4 col-4">
                                            <label for="fiscalPeriodStatus" class="label-name">
                                                {{'fiscal-period.fiscal-period-status'|translate}}
                                              
                                            </label>
                                            <div class="input-group  popup">
                                                <ng-select style="width:100%" formControlName="fiscalPeriodStatus" name='fiscalPeriodStatus' class="" id="fiscalPeriodStatus">
                                                    <ng-option *ngFor="let item of fiscalPeriodStatusList | enumKeyValuelist;" [value]="item.key" >
                                                        {{'fiscal-period-status.'+ item.value|translate}}
                                                    </ng-option>
                                                </ng-select>
                                               
                                            </div>
                                         
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="media">
                                                <label class="col-form-label m-r-10"> {{'general.status'|translate}}
                                                </label>
                                                <div class="icon-state media-body mx-5">
                                                    <label class="switch">
                                                        <input type="checkbox" class="form-control" name="isActive"
                                                            formControlName="isActive">
                                                        <span class="switch-state"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>