<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white ;font-size: 20px;"> {{'general.loading'|translate}}... </p>
</ngx-spinner>
<section class="inner-page-wrapper inner-page-wrapper-vouchers">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3 mt-3">
                    <div class="card-body">
                        <form [formGroup]="voucherForm" id="voucherSubmit" class="tabs-form">
                            <div class="main-branch ranoo">
                                <div class="wrapper-title">
                                    <h3>{{'voucher.voucher-information'|translate}}</h3>
                                    <hr>
                                    <div class="row ">
                                        <div class="col-md-4 col-4">
                                            <label for="code" class="label-name">
                                                {{'general.code'|translate}}
                                            </label>
                                            <span class="text-danger">*</span>
                                            <div class="form-group position-relative">

                                                <input type="text" class="form-control icon-branch"
                                                    [ngClass]="{'is-invalid':f['code'].errors || f['code'].invalid}"
                                                    name="code" formControlName="code">
                                                <div *ngIf="(f['code'].touched || f['code'].dirty ) && f['code'].invalid"
                                                    class="validation alert-danger position-absolute">
                                                    <i class="fa fa-close "></i>
                                                    <span *ngIf="f['code'].errors && f['code'].errors['required']"
                                                        class="f-12 ng-star-inserted text-white">
                                                        {{'error.required'|translate}}</span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-4 col-4">
                                            <label for="voucherDate" class="label-name">
                                                {{'general.date'|translate}}
                                            </label>
                                            <span class="text-danger">*</span>
                                            <div class="form-group position-relative">

                                                <app-full-date name="voucherDate" formControlName="voucherDate"
                                                    [(ngModel)]="voucherDate" ngDefaultControl
                                                    [selectedDate]="voucherDate"
                                                    (OnDateSelect)="getVoucherDate($event)"></app-full-date>

                                                <!-- <input type="date" class="form-control " name="voucherDate"
                                                    formControlName="voucherDate">  -->
                                                <div *ngIf="(f['voucherDate'].touched || f['voucherDate'].dirty ) && f['voucherDate'].invalid"
                                                    class="validation alert-danger position-absolute">
                                                    <i class="fa fa-close "></i>
                                                    <span
                                                        *ngIf="f['voucherDate'].errors && f['voucherDate'].errors['required']"
                                                        class="f-12 ng-star-inserted text-white">
                                                        {{'error.required'|translate}}</span>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-4 col-4">
                                            <label for="voucherTotal" class="label-name">
                                                {{'voucher.voucher-total'|translate}}
                                            </label>
                                            <span class="text-danger">*</span>
                                            <div class="form-group position-relative">

                                                <input type="text" class="form-control icon-branch"
                                                    [ngClass]="{'is-invalid':f['voucherTotal'].errors || f['voucherTotal'].invalid}"
                                                    name="voucherTotal" formControlName="voucherTotal">
                                                <div *ngIf="(f['voucherTotal'].touched || f['voucherTotal'].dirty ) && f['voucherTotal'].invalid"
                                                    class="validation alert-danger position-absolute">
                                                    <i class="fa fa-close "></i>
                                                    <span
                                                        *ngIf="f['voucherTotal'].errors && f['voucherTotal'].errors['required']"
                                                        class="f-12 ng-star-inserted text-white">
                                                        {{'error.required'|translate}}</span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-3 col-3">
                                            <label for="currencyId" class="label-name">{{'general.currency'|translate}}
                                            </label>
                                            <span class="text-danger">*</span>

                                            <div class="input-group  popup">
                                                <ng-select style="width:100%" formControlName="currencyId"
                                                    name='currencyId' class="" id="currencyId" [(ngModel)]="currencyId">
                                                    <ng-option *ngFor="let currency of currenciesList"
                                                        [value]="currency.id">
                                                        {{lang=="ar"?currency.nameAr:currency.nameEn}}
                                                    </ng-option>
                                                </ng-select>

                                                <div *ngIf="(f['currencyId'].touched || f['currencyId'].dirty ) && f['currencyId'].invalid"
                                                    class="validation alert-danger position-absolute">
                                                    <i class="fa fa-close "></i>
                                                    <span
                                                        *ngIf="f['currencyId'].errors && f['currencyId'].errors['required']"
                                                        class="f-12 ng-star-inserted text-white">
                                                        {{'error.required'|translate}}</span>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="col-md-1 col-md-1">
                                            <button class="btn btn-rounded btn-dark"
                                                (click)="showSearchCurrencyModal=true" type="button"><i
                                                    class="fa fa-search"></i></button>
                                        </div>
                                        <div class="col-md-4 col-4">
                                            <label for="voucherTotalLocal" class="label-name">
                                                {{'voucher.voucher-total-local'|translate}}
                                            </label>
                                            <span class="text-danger">*</span>
                                            <div class="form-group position-relative">

                                                <input type="text" class="form-control icon-branch"
                                                    [ngClass]="{'is-invalid':f['voucherTotalLocal'].errors || f['voucherTotalLocal'].invalid}"
                                                    name="voucherTotalLocal" formControlName="voucherTotalLocal">
                                                <div *ngIf="(f['voucherTotalLocal'].touched || f['voucherTotalLocal'].dirty ) && f['voucherTotalLocal'].invalid"
                                                    class="validation alert-danger position-absolute">
                                                    <i class="fa fa-close "></i>
                                                    <span
                                                        *ngIf="f['voucherTotalLocal'].errors && f['voucherTotalLocal'].errors['required']"
                                                        class="f-12 ng-star-inserted text-white">
                                                        {{'error.required'|translate}}</span>
                                                </div>

                                            </div>
                                        </div>


                                        <div class="col-md-3 col-3">
                                            <label for="cashAccountId" class="label-name">
                                                {{'general.cash-account'|translate}}
                                            </label>
                                            <span class="text-danger">*</span>
                                            <div class="input-group  popup">
                                                <ng-select style="width:100%" formControlName="cashAccountId"
                                                    name='cashAccountId' class="" id="cashAccountId"
                                                    [(ngModel)]="cashAccountId">
                                                    <ng-option *ngFor="let account of cashAccountsList"
                                                        [value]="account.id">
                                                        {{lang=="ar"?account.nameAr:account.nameEn}}
                                                    </ng-option>
                                                </ng-select>
                                                <div *ngIf="(f['cashAccountId'].touched || f['cashAccountId'].dirty ) && f['cashAccountId'].invalid"
                                                    class="validation alert-danger position-absolute">
                                                    <i class="fa fa-close "></i>
                                                    <span
                                                        *ngIf="f['cashAccountId'].errors && f['cashAccountId'].errors['required']"
                                                        class="f-12 ng-star-inserted text-white">
                                                        {{'error.required'|translate}}</span>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="col-md-1 col-md-1">
                                            <button class="btn btn-rounded btn-dark"
                                                (click)="showSearchCashAccountModal=true" type="button"><i
                                                    class="fa fa-search"></i></button>
                                        </div>

                                        <div class="col-md-3 col-3">
                                            <label for="costCenterId" class="label-name">
                                                {{'general.cost-center'|translate}}
                                            </label>
                                            <div class="input-group  popup">
                                                <ng-select style="width:100%" formControlName="costCenterId"
                                                    name='costCenterId' class="" id="costCenterId">
                                                    <ng-option *ngFor="let costCenter of costCentersList"
                                                        [value]="costCenter.id">
                                                        {{lang=="ar"?costCenter.nameAr:costCenter.nameEn}}
                                                    </ng-option>
                                                </ng-select>

                                            </div>

                                        </div>
                                        <div class="col-md-1 col-md-1">
                                            <button class="btn btn-rounded btn-dark"
                                                (click)="showSearchCostCenterModal=true" type="button"><i
                                                    class="fa fa-search"></i></button>
                                        </div>


                                    

                                       

                                        <div class="col-md-4 col-4">
                                            <label for="description" class="label-name">
                                                {{'general.description'|translate}}</label>
                                            <div class="form-group position-relative">
                                                <textarea class="form-control icon-branch" name="description"
                                                    formControlName="description">
                                                </textarea>
                                            </div>
                                        </div>


                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col gap-12 grid grid-cols-12 ">
                                            <ul ngbNav #nav="ngbNav" class="nav-tabs">
                                                <li ngbNavItem [destroyOnHide]="false">
                                                    <a ngbNavLink> {{'general.details' |translate}}</a>
                                                    <ng-template ngbNavContent>
                                                        <table class="table table-bordered table-responsive text-center"
                                                            style="overflow-y: scroll !important;height: 200px;">
                                                            <thead>
                                                                <th>#</th>
                                                                <th *ngIf="voucherkindId==1">
                                                                    {{'general.debit'|translate}}</th>
                                                                <th *ngIf="voucherkindId==2">
                                                                    {{'general.credit'|translate}}</th>
                                                                <th *ngIf="enableMultiCurrencies">
                                                                    {{'general.currency'|translate}}</th>
                                                                <th *ngIf="enableMultiCurrencies">
                                                                    {{'general.currency-conversion-factor'|translate}}
                                                                </th>
                                                                <th *ngIf="voucherkindId==1 && enableMultiCurrencies">
                                                                    {{'general.debit-after-conversion'|translate}}</th>
                                                                <th *ngIf="voucherkindId==2 && enableMultiCurrencies">
                                                                    {{'general.credit-after-conversion'|translate}}</th>
                                                                <th>{{'general.beneficiary'|translate}}</th>
                                                                <th>{{'general.beneficiary-account'|translate}}</th>
                                                                <!-- <th>{{'general.description'|translate}}</th> -->
                                                                <th>{{'general.cost-center'|translate}}</th>



                                                                <th></th>
                                                            </thead>
                                                            <tr *ngFor="let item of voucherDetail; let i= index;">
                                                                <td> {{i+1}}</td>
                                                                <td *ngIf="voucherkindId==1">
                                                                    <input type="number"
                                                                        [(ngModel)]="voucherDetail[i].debit"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                         min="0"
                                                                        class="form-control"
                                                                        (change)="getAddedValueAfterConversion()">
                                                                </td>
                                                                <td *ngIf="voucherkindId==2">
                                                                    <input type="number"
                                                                        [(ngModel)]="voucherDetail[i].credit"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                         min="0"
                                                                        class="form-control"
                                                                        (change)="getAddedValueAfterConversion()">
                                                                </td>
                                                                <td style="width:100px;" *ngIf="enableMultiCurrencies">
                                                                    <input type="text" class="form-control"
                                                                        placeholder="{{'general.search'|translate}}"
                                                                        [(ngModel)]="voucherDetail[i].currencyNameAr"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        (keydown.Enter)="openCurrencySearchDialog(i)">


                                                                </td>
                                                                <td *ngIf="enableMultiCurrencies">
                                                                    <input type="number"
                                                                        [(ngModel)]="voucherDetail[i].currencyConversionFactor"
                                                                        [ngModelOptions]="{standalone: true}" min="0"
                                                                        class="form-control"
                                                                        (change)="getAddedValueAfterConversion(i)">

                                                                </td>

                                                                <td *ngIf="voucherkindId==1 && enableMultiCurrencies">
                                                                    <input type="number"
                                                                        [(ngModel)]="voucherDetail[i].debitLocal"
                                                                        [ngModelOptions]="{standalone: true}" min="0"
                                                                        class="form-control">
                                                                </td>
                                                                <td *ngIf="voucherkindId==2 && enableMultiCurrencies">
                                                                    <input type="number"
                                                                        [(ngModel)]="voucherDetail[i].creditLocal"
                                                                        [ngModelOptions]="{standalone: true}" min="0"
                                                                        class="form-control">
                                                                </td>
                                                                <td>
                                                                    <ng-select class="custom"
                                                                        [(ngModel)]="voucherDetail[i].beneficiaryTypeId"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [items]="beneficiaryTypesEnum" bindLabel="name"
                                                                        bindValue="id" style="width:100%"></ng-select>
                                                                </td>
                                                                <td>

                                                                    <input type="text" class="form-control"
                                                                        placeholder="{{'general.search'|translate}}"
                                                                        [(ngModel)]="voucherDetail[i].beneficiaryAccountNameAr"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        (keydown.Enter)="openBeneficiaryAccountSearchDialog(i)">


                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="{{'general.search'|translate}}"
                                                                        [(ngModel)]="voucherDetail[i].costCenterNameAr"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        (keydown.Enter)="openCostCenterSearchDialog(i)">


                                                                </td>
                                                                <td>
                                                                    <!-- <button class="btn btn-danger px-3" (click)="deleteItem(i)" type="button">
                                                                       
                                                                        <i class="las la-trash-alt"></i>
                                                                    </button> -->

                                                                    <input type="button" class="btn btn-warning px-3"
                                                                        value="{{'buttons.delete'|translate}}" (click)="deleteItem(i)">
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td>{{voucherDetail.length + 1}}</td>
                                                                <td *ngIf="voucherkindId==1">
                                                                    <input type="number"
                                                                        [(ngModel)]="selectedVoucherDetail.debit"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        min="0"
                                                                        class="form-control"
                                                                        (change)="getValueAfterConversion()">
                                                                </td>
                                                                <td *ngIf="voucherkindId==2">
                                                                    <input type="number"
                                                                        [(ngModel)]="selectedVoucherDetail.credit"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                         min="0"
                                                                        class="form-control"
                                                                        (change)="getCreditAfterConversion()">
                                                                </td>
                                                                <td style="width:100px;" *ngIf="enableMultiCurrencies">
                                                                    <input type="text" class="form-control"
                                                                        placeholder="{{'general.search'|translate}}"
                                                                        [(ngModel)]="selectedVoucherDetail.currencyNameAr"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        (keydown.Enter)="openCurrencySearchDialog(-1)">


                                                                </td>
                                                                <td *ngIf="enableMultiCurrencies">
                                                                    <input type="number"
                                                                        [(ngModel)]="selectedVoucherDetail.currencyConversionFactor"
                                                                        [ngModelOptions]="{standalone: true}" min="0"
                                                                        class="form-control"
                                                                        (change)="getValueAfterConversion()">

                                                                </td>

                                                                <td *ngIf="voucherkindId==1 && enableMultiCurrencies">
                                                                    <input type="number"
                                                                        [(ngModel)]="selectedVoucherDetail.debitLocal"
                                                                        [ngModelOptions]="{standalone: true}" min="0"
                                                                        class="form-control">
                                                                </td>
                                                                <td *ngIf="voucherkindId==2 && enableMultiCurrencies">
                                                                    <input type="number"
                                                                        [(ngModel)]="selectedVoucherDetail.creditLocal"
                                                                        [ngModelOptions]="{standalone: true}" min="0"
                                                                        class="form-control">
                                                                </td>
                                                                <td>
                                                                    <ng-select class="custom"
                                                                        [(ngModel)]="selectedVoucherDetail.beneficiaryTypeId"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        [items]="beneficiaryTypesEnum" bindLabel="name"
                                                                        bindValue="id" style="width:100%"
                                                                        
                                                                        ></ng-select>
                                                                </td>
                                                                <td>

                                                                    <input type="text" class="form-control"
                                                                        placeholder="{{'general.search'|translate}}"
                                                                        [(ngModel)]="selectedVoucherDetail.beneficiaryAccountNameAr"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        (keydown.Enter)="openBeneficiaryAccountSearchDialog(-1)"
                                                                       
                                                                        >


                                                                </td>
                                                                <td>
                                                                    <input type="text" class="form-control"
                                                                        placeholder="{{'general.search'|translate}}"
                                                                        [(ngModel)]="selectedVoucherDetail.costCenterNameAr"
                                                                        [ngModelOptions]="{standalone: true}"
                                                                        (keydown.Enter)="openCostCenterSearchDialog(-1)">


                                                                </td>
                                                                <td>
                                                                    <!-- <button class="btn btn-primary px-3"
                                                                        (click)="addItem()" type="button">

                                                                        <i class="las la-plus"></i>
                                                                    </button> -->
                                                                    <input type="button" class="btn btn-primary px-3"
                                                                        (click)="addItem()" value="{{'buttons.add'|translate}}">

                                                                </td>
                                                            </tr>
                                                        </table>

                                                    </ng-template>
                                                </li>


                                            </ul>
                                            <div [ngbNavOutlet]="nav" class=""></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-public-search-modal [isVisible]="showSearchCashAccountModal" [routeApi]="routeAccountApi"
    (emitClose)="showSearchCashAccountModal = false;" (emitSearch)="onSelectCashAccount($event)">
</app-public-search-modal>
<app-public-search-modal [isVisible]="showSearchCostCenterModal" [routeApi]="routeCostCenterApi"
    (emitClose)="showSearchCostCenterModal = false;" (emitSearch)="onSelectCostCenter($event)">
</app-public-search-modal>


<app-public-search-modal [isVisible]="showSearchCurrencyModal" [routeApi]="routeCurrencyApi"
    (emitClose)="showSearchCurrencyModal = false;" (emitSearch)="onSelectCurrency($event)">
</app-public-search-modal>