<div class="container-fluid p-0">
    <div class="row">

        <div class="col-xl-6 offset-3 p-0">
            <div class="login-card">
                <div>

                    <div class="Verification login-main">
                        <form class="theme-form">
                            <div>
                                <a class="logo" routerLink='/'>
                                    <img class="img-fluid " src="../../../../assets/images/login/Safe.gif"
                                        alt="looginpage" width="300">

                                </a>
                            </div>
                            <h4 class="text-center">Reset password</h4>
                            <p class="text-center">Your new password must be different from your previous passwords
                            </p>
                            <div class="form-group">

                                <input class="form-control" type="password" required="" placeholder="New password">


                            </div>
                            <div class="form-group">

                                <input class="form-control" type="password" required="" placeholder="confirm New password">


                            </div>

                            <div class="form-group my-5">

                                <button class="btn btn-block btn-primary w-100" type="button"><span>Reset
                                        password</span>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>