<section class="inner-page-wrapper inner-page-wrapper-units">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form id="" class="tabs-form">
                            <div class="main-customer">
                                <div class="wrapper-title">

                                    <h3>{{'component-names.notifications-configurations'|translate}}</h3>
                                    <hr>
                                    <div class="table-responsive mb-3">
                                        <table class="table" style="overflow-y: scroll !important;">
                                            <thead>
                                                <th>#</th>
                                                <th>{{'notifictions.E-mail'|translate}}</th>
                                                <th>{{'notifictions.service-provider'|translate}}</th>
                                                <th>رقم مزود خدمة الواتساب </th>
                                                <th>{{'notifictions.transmission-time'|translate}}</th>
                                                <th>{{'notifictions.repetition-times'|translate}}</th>
                                                <th>{{'notifictions.repeat-after-every'|translate}}</th>
                                                <th>معالجة</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <button class="btn btn-primary w-100 b-r-0">
															<i class="fa fa-cog"></i>
														</button>
                                                    </td>
                                                </tr>
                                            </tbody>


                                        </table>
                                    </div>
                                    <div class="row align-items-center">


                                        <div class="col-md-6 col-12 offset-6">
                                            <label for="" class="label-name">
												{{'notifictions.transmission-time'|translate}}</label>
                                            <div class="form-group position-relative">

                                                <input type="time" class="form-control" name="">


                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <label for="" class="label-name">
												{{'notifictions.repetition-times'|translate}}</label>
                                            <div class="form-group position-relative">

                                                <input type="number" class="form-control" name="">


                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <label for="" class="label-name">
												{{'notifictions.repeat-after-every'|translate}}
											</label>
                                            <div class="form-group position-relative">

                                                <input type="number" class="form-control" name="">


                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="item-permissions">
                                                <h6 class="b-b-secondary f-w-600 font-secondary pb-2">
                                                    اختار اجراءات التنبيهات
                                                </h6>

                                                <div class="check-item">
                                                    <label>
														<input type="checkbox" name="options" value="" />
														التنبيه بإصدار عقد

													</label>
                                                </div>
                                                <div class="check-item">
                                                    <label>
														<input type="checkbox" name="options" value="" />
														التنبيه بإصدار سند صرف

													</label>
                                                </div>

                                                <div class="check-item">
                                                    <label>
														<input type="checkbox" name="options" value="" />
														التنبيه بإصدار عقد

													</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="item-permissions">
                                                <h6 class="b-b-secondary f-w-600 font-secondary pb-2">
                                                    اختار انواع التنبيهات
                                                </h6>
                                                <div class="check-item">
                                                    <label>
														<input type="checkbox" name="options" value="" />
														رسائل الواتساب

													</label>
                                                </div>
                                                <div class="check-item">
                                                    <label>
														<input type="checkbox" name="options" value="" />
														البريد الإلكتروني

													</label>
                                                </div>

                                                <div class="check-item">
                                                    <label>
														<input type="checkbox" name="options" value="" />
														الرسائل النصية
													</label>
                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                    <nav ngbNav #nav="ngbNav" class="nav-tabs m-0">
                                        <li ngbNavItem>
                                            <a ngbNavLink> إعدادات خادم البريد الإلكتروني المخصص</a>
                                            <ng-template ngbNavContent>
                                                <div class="row">
                                                    <div class="col-12 col-md-6">
                                                        <label for="email" class="label-name">{{'general.email'|translate}}</label>
                                                        <div class="form-group position-relative">

                                                            <input type="text" class="form-control" name="email">

                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label for="password" class="label-name">{{'general.password'|translate}}</label>
                                                        <div class="form-group position-relative">

                                                            <input type="password" class="form-control " name="password">

                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label for="address" class="label-name">{{'general.address'|translate}}</label>
                                                        <div class="form-group position-relative">

                                                            <input type="text" class="form-control " name="address">

                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label for="" class="label-name"> Host اسم الخادم</label>
                                                        <div class="form-group position-relative">

                                                            <input type="text" class="form-control " name="">

                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label for="" class="label-name"> port رقم خادم البريد
															الإلكتروني</label>
                                                        <div class="form-group position-relative">

                                                            <input type="text" class="form-control " name="">

                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </li>
                                        <li ngbNavItem>
                                            <a ngbNavLink>إعدادات الواتساب</a>
                                            <ng-template ngbNavContent>
                                                <div class="row">
                                                    <div class="col-12 col-md-6">
                                                        <label for="" class="label-name">رقم مزود خدمة الواتساب</label>
                                                        <div class="form-group position-relative">

                                                            <input type="text" class="form-control" name="">

                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label for="" class="label-name">حساب الواتساب</label>
                                                        <div class="form-group position-relative">

                                                            <input type="text" class="form-control " name="">

                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label for="" class="label-name">معرف الواتساب</label>
                                                        <div class="form-group position-relative">

                                                            <input type="text" class="form-control " name="">

                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </li>
                                        <li ngbNavItem>
                                            <a ngbNavLink>إعدادات الرسائل النصية</a>
                                            <ng-template ngbNavContent>
                                                <div class="row">
                                                    <div class="col-12 col-md-6">
                                                        <label for="" class="label-name">رابط مزود الرسائل
															النصية</label>
                                                        <div class="form-group position-relative">

                                                            <input type="text" class="form-control" name="">

                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label for="" class="label-name">رصيد الرسائل النصية</label>
                                                        <div class="form-group position-relative">

                                                            <input type="text" class="form-control" name="">

                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label for="" class="label-name">اسم المستخدم</label>
                                                        <div class="form-group position-relative">

                                                            <input type="text" class="form-control" name="">

                                                        </div>
                                                    </div>

                                                    <div class="col-12 col-md-6">
                                                        <label for="password" class="label-name">{{'general.password'|translate}}</label>
                                                        <div class="form-group position-relative">

                                                            <input type="password" class="form-control " name="password">

                                                        </div>
                                                    </div>
                                                    <div class="col-12 col-md-6">
                                                        <label for="" class="label-name">المرسل</label>
                                                        <div class="form-group position-relative">

                                                            <input type="text" class="form-control " name="">

                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </li>
                                    </nav>
                                    <div [ngbNavOutlet]="nav" class=""></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>