<section class="inner-page-wrapper inner-page-wrapper-units">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form id="" class="tabs-form">
                            <div class="main-customer">
                                <div class="wrapper-title">

                                    <h3>{{'component-names.notifications-configurations'|translate}}</h3>
                                    <hr>
                                    <div class="table-responsive mb-3">
                                        <table class="table">
                                            <thead>
                                                <th>#</th>
                                                <th>{{'notifictions.E-mail'|translate}}</th>
                                                <th>{{'notifictions.service-provider'|translate}}</th>
                                                <th>رقم مزود خدمة الواتساب </th>
                                                <th>{{'notifictions.transmission-time'|translate}}</th>
                                                <th>{{'notifictions.repetition-times'|translate}}</th>
                                                <th>{{'notifictions.repeat-after-every'|translate}}</th>
                                                <th>معالجة</th>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>1</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>
                                                        <button class="btn btn-primary w-100 b-r-0">
															<i class="fa fa-cog"></i>
														</button>
                                                    </td>
                                                </tr>
                                            </tbody>


                                        </table>
                                    </div>
                                    <div class="row align-items-center">


                                        <div class="col-md-6 col-12 offset-6">
                                            <label for="" class="label-name">
												{{'notifictions.transmission-time'|translate}}</label>
                                            <div class="form-group position-relative">

                                                <input type="time" class="form-control" name="">


                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <label for="" class="label-name">
												{{'notifictions.repetition-times'|translate}}</label>
                                            <div class="form-group position-relative">

                                                <input type="number" class="form-control" name="">


                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <label for="" class="label-name">
												{{'notifictions.repeat-after-every'|translate}}
											</label>
                                            <div class="form-group position-relative">

                                                <input type="number" class="form-control" name="">


                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="item-permissions">
                                                <h6 class="b-b-secondary f-w-600 font-secondary pb-2">
                                                    اجراءات التنبيهات
                                                </h6>

                                                <div class="check-item">
                                                    <label>
														<input type="checkbox" name="options" value="" />
													التنبيه بإصدار
													</label>
                                                </div>
                                                <div class="check-item">
                                                    <label>
														<input type="checkbox" name="options" value="" />
														التنبيه بإصدار سند صرف

													</label>
                                                </div>

                                                <div class="check-item">
                                                    <label>
														<input type="checkbox" name="options" value="" />
														التنبيه بإصدار

													</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="item-permissions">
                                                <h6 class="b-b-secondary f-w-600 font-secondary pb-2">
                                                    انواع التنبيهات
                                                </h6>
                                                <div class="check-item">
                                                    <label>
														<input type="checkbox" name="options" value="" />
														رسائل الواتساب

													</label>
                                                </div>
                                                <div class="check-item">
                                                    <label>
														<input type="checkbox" name="options" value="" />
														البريد الإلكتروني

													</label>
                                                </div>

                                                <div class="check-item">
                                                    <label>
														<input type="checkbox" name="options" value="" />
														الرسائل النصية
													</label>
                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                    <nav ngbNav #nav="ngbNav" class="nav-tabs m-0">
                                        <li ngbNavItem>
                                            <a ngbNavLink> إعدادات خادم البريد الإلكتروني المخصص</a>
                                            <ng-template ngbNavContent>
                                                <div class="row">
                                                    <table class="table table-broder">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th># </th>
                                                                <th>{{'general.email'|translate}}</th>
                                                                <th>{{'general.password'|translate}}</th>
                                                                <th>اسم الخادم SMTP</th>
                                                                <th>رقم خادم البريد الإلكتروني Port</th>
                                                                <th>نوع الشهادة </th>
                                                                <th>الاجرءات</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr>
                                                                <td>1</td>

                                                                <td>
                                                                    <div class="input-group">
                                                                        <input type="Email" required class="form-control required" name="">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group">
                                                                        <input type="password" required class="form-control required" name="">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group ">
                                                                        <input type="text" required class="form-control required" name="">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group ">
                                                                        <input type="text" required class="form-control required" name="">
                                                                    </div>
                                                                </td>
                                                                <td>

                                                                    <ng-select name="typeCertificateSelect">
                                                                        <ng-option *ngFor="let typeCertificate of typeCertificateList" [value]="typeCertificate">{{ typeCertificate }}
                                                                        </ng-option>
                                                                    </ng-select>
                                                                </td>
                                                                <td>
                                                                    <input type="button" class="btn btn-primary btn-table" value="{{'buttons.add'|translate}}">
                                                                </td>


                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </div>
                                            </ng-template>
                                        </li>
                                        <li ngbNavItem>
                                            <a ngbNavLink>إعدادات الواتساب</a>
                                            <ng-template ngbNavContent>
                                                <div class="row">
                                                    <table class="table table-broder">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th># </th>
                                                                <th>رقم مزود خدمة الواتساب</th>
                                                                <th>حساب الواتساب</th>
                                                                <th>معرف الواتساب</th>
                                                                <th>الاجرءات</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr>
                                                                <td>1</td>

                                                                <td>
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" name="">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control " name="">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group ">
                                                                        <input type="text" class="form-control " name="">
                                                                    </div>
                                                                </td>


                                                                <td>
                                                                    <input type="button" class="btn btn-primary btn-table" value="{{'buttons.add'|translate}}">
                                                                </td>


                                                            </tr>

                                                        </tbody>


                                                    </table>
                                                </div>
                                            </ng-template>
                                        </li>
                                        <li ngbNavItem>
                                            <a ngbNavLink>إعدادات الرسائل النصية</a>
                                            <ng-template ngbNavContent>
                                                <div class="row">






                                                    <table class="table table-broder">
                                                        <thead class="thead-light">
                                                            <tr>
                                                                <th># </th>
                                                                <th>رابط مزود الرسائل النصية</th>
                                                                <th>رصيد الرسائل النصية</th>
                                                                <th>اسم المستخدم</th>
                                                                <th>{{'general.password'|translate}}</th>
                                                                <th>المرسل</th>
                                                                <th>الاجرءات</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>

                                                                <td>
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" name="">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control " name="">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group ">
                                                                        <input type="text" class="form-control " name="">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group ">
                                                                        <input type="password" class="form-control " name="password">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="input-group ">
                                                                        <input type="text" class="form-control " name="">
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <input type="button" class="btn btn-primary btn-table" value="{{'buttons.add'|translate}}">
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </ng-template>
                                        </li>
                                    </nav>
                                    <div [ngbNavOutlet]="nav" class=""></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
