<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
    <p style="color: white ;font-size: 20px;"> {{'general.loading'|translate}}... </p>
</ngx-spinner>
<section class="inner-page-wrapper inner-page-wrapper-units">

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3 mt-3">
                    <div class="card-body">
                        <form [formGroup]="billTypeForm" id="billTypeSubmit" class="tabs-form">
                            <div class="main-branch ranoo">
                                <div class="wrapper-title">

                                    <h3>{{'bill-type.bill-type-information'|translate}}</h3>
                                    <hr>
                                    <div class="row ">
                                        <div class="col-md-4 col-4">
                                            <label for="billKind" class="label-name">
                                                {{'bill-type.bill-type'|translate}}

                                            </label>
                                            <div class="input-group  popup">
                                                <ng-select class="custom" formControlName="billKind" [items]="billKinds"
                                                    bindLabel="name" bindValue="id" style="width:100%"></ng-select>
                                                <div *ngIf="(f['billKind'].touched || f['billKind'].dirty ) && f['billKind'].invalid"
                                                    class="alert alert-danger">
                                                    <i class="fa fa-close "></i>
                                                    <span
                                                        *ngIf="f['billKind'].errors && f['billKind'].errors['required']">
                                                        {{'validation-messages.required-field'|translate}}</span>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-md-4 col-4">
                                            <label for="billNameAr" class="label-name">
                                                {{'general.nameAr'|translate}}</label>
                                            <span class="text-danger">*</span>
                                            <div class="form-group position-relative">

                                                <input type="text" class="form-control icon-branch"
                                                    [ngClass]="{'is-invalid':f['billNameAr'].errors || f['billNameAr'].invalid}"
                                                    name="billNameAr" formControlName="billNameAr">
                                                <div *ngIf="(f['billNameAr'].touched || f['billNameAr'].dirty ) && f['billNameAr'].invalid"
                                                    class="validation alert-danger position-absolute">
                                                    <i class="fa fa-close "></i>
                                                    <span
                                                        *ngIf="f['billNameAr'].errors && f['billNameAr'].errors['required']"
                                                        class="f-12 ng-star-inserted text-white">
                                                        {{'error.required'|translate}}</span>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="col-md-4 col-4">
                                            <label for="billNameEn"
                                                class="label-name">{{'general.nameEn'|translate}}</label>
                                            <div class="form-group position-relative">
                                                <input type="text" class="form-control icon-branch" name="billNameEn"
                                                    formControlName="billNameEn">

                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <!-- start tabs -->
                                    <nav ngbNav #nav="ngbNav" class="nav-tabs mt-12">
                                        <li ngbNavItem>
                                            <a ngbNavLink>{{'bill-type.basic-properties'|translate}}</a>
                                            <ng-template ngbNavContent>
                                                <div class="row">
                                                    <div class="col-6 col-md-6">
                                                        <label for="warehouses-effect"
                                                            class="label-name">{{'bill-type.warehouse-effect'|translate}}
                                                        </label>
                                                        <ul class="list-group">
                                                            <li class="list-group-item"
                                                                *ngFor="let item of warehouseEffectList">
                                                                <input type="radio" formControlName="warehouseEffect"
                                                                    name="warehouseEffect" value="{{item.value}}" />
                                                                {{lang=="ar"?item.nameAr:item.nameEn}}

                                                            </li>
                                                        </ul>
                                                        <br/>
                                                        <div *ngIf="(f['warehouseEffect'].touched || f['warehouseEffect'].dirty ) && f['warehouseEffect'].invalid"
                                                            class="validation alert-danger position-absolute">
                                                            <i class="fa fa-close "></i>
                                                            <span
                                                                *ngIf="f['warehouseEffect'].errors && f['warehouseEffect'].errors['required']"
                                                                class="f-12 ng-star-inserted text-white">
                                                                {{'error.required'|translate}}</span>
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="col-6 col-md-6">
                                                        <label for="accounting-effect"
                                                            class="label-name">{{'bill-type.accounting-effect'|translate}}
                                                        </label>
                                                        <ul class="list-group">
                                                            <li class="list-group-item"
                                                                *ngFor="let item of accountingEffectList">
                                                                <input type="radio" formControlName="accountingEffect"
                                                                    name="accountingEffect" value="{{item.value}}" />
                                                                {{lang=="ar"?item.nameAr:item.nameEn}}

                                                            </li>
                                                        </ul>
                                                        <br/>
                                                        <div *ngIf="(f['accountingEffect'].touched || f['accountingEffect'].dirty ) && f['accountingEffect'].invalid"
                                                            class="validation alert-danger position-absolute">
                                                            <i class="fa fa-close "></i>
                                                            <span
                                                                *ngIf="f['accountingEffect'].errors && f['accountingEffect'].errors['required']"
                                                                class="f-12 ng-star-inserted text-white">
                                                                {{'error.required'|translate}}</span>
                                                        </div>
                                                       
                                                      
                                                    </div>
                                                    <div class="col-6 col-md-6">
                                                        <label class="col-form-label m-r-10">
                                                            {{'bill-type.affect-on-cost-price'|translate}}
                                                        </label>
                                                        <div class="icon-state media-body mx-5">
                                                            <label class="switch">
                                                                <input type="checkbox" class="form-control"
                                                                    name="affectOnCostPrice"
                                                                    formControlName="affectOnCostPrice">
                                                                <span class="switch-state"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="col-6 col-md-6">
                                                        <label class="col-form-label m-r-10">
                                                            {{'bill-type.post-to-accounts-automatically'|translate}}
                                                        </label>
                                                        <div class="icon-state media-body mx-5">
                                                            <label class="switch">
                                                                <input type="checkbox" class="form-control"
                                                                    name="postingToAccountsAutomatically"
                                                                    formControlName="postingToAccountsAutomatically">
                                                                <span class="switch-state"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </ng-template>
                                        </li>

                                    </nav>
                                    <div [ngbNavOutlet]="nav" class=""></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>